<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>

<body>

<div class="wrapper" id="redBag_wrapTotal">

    <header class="header">
        <p class="head_lf" id="redBag_back"><a class="backicon icon"></a></p>

        <h3 class="head_cn">红包详情</h3>

        <!--<p class="head_rt" data-t="share" id="redBag_share"><a class="shareicon icon" ></a></p>-->
    </header>

    <section class="centerWrap">

        <div class="hbinfo" id="redBag_wrapA">
            
           
        </div>

        <div class="hbrule " id="redBag_wrapB">
            

            <div class="rules-txt" >
                
            </div>
        </div>

        <div id="redBag_Record" class="hbrule coup-shop">
            <h2 class="font16">使用记录</h2>
            <div class="hb-record" id="redBag_useRecord">
            </div>
        </div>

        <div style="height: 125px;"></div>
    </section>

    <section class="bottomcon">
       
        <div class="playtip" style="display: none" id="redBag_stationTip">
            <h3 class="font16">红包兑换</h3>
            <p class="center"><span class="mr10">序列号:</span><span>验证码:</span></p>
        </div>

        <div class="hbbot" id="redBag_wrapC" style="display:none">
            <a href="javascript:void(0)" data-t="url" data-v="record" id="redBag_my">我的红包</a>
	        <a href="javascript:void(0)" data-t="url" data-v="home">我要投注</a>
            <a href="javascript:void(0)"  class="act-btn  fr" data-t="get" data-v="" id="redBag_get">立即领取</a>
        </div>
        
        <div class="hbbot" id="redBag_wrapD" style="display:none">
            <span class="first gray">还剩<em class="fontred"></em></span>
          <!--  <a data-t="stationUse" href="javascript:void(0)">站点使用</a>
            <a data-t="use" href="javascript:void(0)" class="act-btn">立即使用</a>-->
        </div>

        

    </section>

    <div id="tip" class="act-tip" style="display:none;">
        <div class="tip_box">
            <p>领取成功</p>
        </div>
    </div>
</div>

</body>
</html>