<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper">
	<header class="header">
		<p class="head_lf" id="bindPhone_backObj"><span class="backicon icon"></span></p>
		<h3 class="head_cn" id="bindPhone_head">绑定手机</h3>
	</header>
	<section class="centerWrap" >
		<ul class="mb40">
			
			<li class="act_box">
				<span class="font16">手机：</span><input type="text" placeholder="请输入手机号" id="bindPhone_newTelObj" value="">
			</li>
			<li class="act_box">
				<input type="text" placeholder="请输入验证码" id="bindPhone_checkCodeObj" value=""><span class="btn_yzm" id="bindPhone_getCodeObj">获取短信验证码</span>
			</li>
		</ul>
		<p class="center mb35">
			<a href="javascript:void(0);" id="bindPhone_submitObj" class="btn btn_big">确 定</a>
		</p>
	</section>
	<div class="paybot">
		<p class="w94 mb20 gray font12">温馨提示<br/>
		1. 绑定手机仅限中国国内手机号<br/>
		2. 验证码免费获取，请勿频繁点击 
		</p>
	</div>
</div>
</body>

</html>