<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css" />
</head>

<body>
<div class="wrapper" id="ebankList_wrapObj">
	<header class="header">
		<p class="head_lf" id="ebankList_backObj" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn">我的银行卡</h3>
	</header>
	<section class="centerWrap"  >
		<div class="paylist">
        	<div id="ebankList_bankListObj">
        	<!--<dl class="clearfix">
				<dt><span class="bankpay payicon"></span></dt>
				<dd>
					<p class="font16">招商银行</p>
					<p class="font12 gray">尾号1536 储蓄卡</p>
					<p class="spanwrap">
						<span data-t="edit" data-v="" class="spanbox"><em class="editicon icon"></em></span>
						<span data-t="del" data-v="" class="spanbox"><em class="delicon icon"></em></span>
					</p>
				</dd>
			</dl>
			<dl class="clearfix sel_bank">
				<dt><span class="bankpay payicon"></span></dt>
				<dd>
					<p class="font16">招商银行</p>
					<p class="font12 gray">尾号1536 储蓄卡</p>
					<p class="spanwrap">
						<span data-t="edit" data-v="" class="spanbox"><em class="editicon icon"></em></span>
						<span data-t="del" data-v="" class="spanbox"><em class="delicon icon"></em></span>
					</p>
				</dd>
			</dl>-->
            </div>
         
			<dl class="clearfix" data-t="addbank">
				<dt><span class="addpay payicon"></span></dt>
				<dd>
					<p class="font16 pt10">添加银行卡</p>
					<span class="arrowbox"><em class="rtarrow icon"></em></span>
				</dd>
			</dl>
		</div>
	</section>
    <div class="overlayer" style="display:none;" id="ebankList_delTipsObj" data-t="hideDel">
		<div class="bottomcon" data-t="nohide">
			<div class="playtip">
				<h3>删除提示</h3
					>
				<p class="font14 center">是否删除银行卡？</p>
			</div>
			<p class="btn_simple">
				<a href="javascript:void(0);" data-t="clearDel" class="w50"><span class="first">取消</span></a><a href="javascript:void(0);" data-t="subDel" class="w50"><span>确定</span></a>
			</p>
		</div>
	</div>
</div>

</body>

</html>