<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="modifyStationInfo_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn">站点信息</h3>
	</header>
    <p class="centerWrap loading_1" id="modifyStationInfo_loading"></p>
	<section class="centerWrap" id="modifyStationInfo_total" style="display:none">
		<ul class="">
			<li class="act_box">
				<span class="font16">站点编号：</span><span class="gray" id="modifyStationInfo_id"></span>
			</li>
			<li class="act_box">
				<span class="font16">站点名称：</span><input type="tel" placeholder="" value="" id="modifyStationInfo_name">
			</li>
			<li class="act_box" id="modifyStationInfo_cityTit">
				<span class="font16">所在区域：</span><!--<input type="text" placeholder="" value="广东-惠州-惠城区">-->
				<input type="text" placeholder="" value="" id="modifyStationInfo_area" class="js_input_2">
                <span class="tzh-arrow" id="modifyStationInfo_cityArrow" style="top:15px"><em class="arrow"></em></span>
			</li>
			<li class="act_box">
				<span class="font16">详细地址：</span><input type="text" class="js_input_2" placeholder="" value="" id="modifyStationInfo_address">
			</li>
		</ul>
		<div class="mb10">
			<textarea id="modifyStationInfo_desc" placeholder="请输入站点相关介绍！" class="act_area font14"></textarea>
		</div>
		<div class="manageImg mb10" >
			<div class="clearfix" id="modifyStationInfo_imgWrap">
            	<div class="m-img"  data-v="1" id="modifyStationInfo_img_1">
                	<div class="js_upload_1" style="display:none">
                    	<img src="">
          				<span class="img-del font12" data-t="del" data-v="1"><em class="icon-sm del-sm"></em>删除</span>
                    </div>
                    <div class="js_upload_2 img-add gray" data-t="img">
                		<em class="addImg_1">+图片</em>
						<!--<input type="file"  class="js_file_spe" capture="camera" accept="image/*"  >-->
					</div>
                </div>
            	
			</div>			
			<p class="font12 gray">支持png/jpg图片格式，建议分辨率640*280px。</p>
		</div>
        
        
        <p class="center mb35">
			<a href="javascript:void(0);" id="modifyStationInfo_submit" class="btn btn_big">确 定</a>
		</p>
	</section>
</div>
</body>

</html>