<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css" />
</head>

<body>
<div class="wrapper" id="nobindwechat_wrapObj">
	<header class="header">
		<p class="head_lf" id="nobindwechat_backObj"><span class="backicon icon"></span></p>
		<h3 class="head_cn">微信提现</h3>
	</header>
	<section class="centerWrap" >
		<div class="nobind_center">
			<div class="bg_left">
				<span class="v_line">
					<em class="c_line">1</em>
				</span>
				<span class="v_line">
					<em class="c_line sec_line">2</em>
					<em class="bot_line">3</em>
				</span>
			</div>
			<div class="bg_right">
				<div class="content_list">
					<p>微信搜索、关注公众号</p>
					<span id="wechat_number">"我们的精彩之旅"</span>
					<p>(点击可复制)</p>
				</div>
				<div class="content_list">
					<p>点击公众号菜单栏</p>
					<span style="color: #008780;">"账号绑定"</span>
					<p>按步骤完成绑定</p>
				</div>
				<div class="content_list">
					<p>绑定成功</p>
					<span style="color: #db3f0e;">打开天天中彩APP进行微信提现</span>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>
</div>
</body>

</html>