<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper">
	<header class="header">
		<p class="head_lf" id="resetPwd_backObj"><span class="backicon icon"></span></p>
		<h3 class="head_cn" id="resetPwd_title">修改密码</h3>
        <p class="head_rt" id="resetPwd_ask">咨询</p>
	</header>
	<section class="centerWrap" >
		<ul class="srh_con mb40">
			<li class="act_box"><span class="font16">新密码：</span><input type="password" placeholder="请输入新密码" id="resetPwd_newPwdObj" value=""></li>
			<li class="act_box"><span class="font16">确认密码：</span><input type="password" placeholder="请再次输入新密码" id="resetPwd_resnewPwdObj" value=""></li>
		</ul>
		<p class="center mb35">
			<a href="javascript:void(0);" class="btn btn_big" id="resetPwd_submitObj">确 定</a>
		</p>
	</section>
	<div class="paybot">
		<p class="w94 mb20 gray font12">温馨提示<br/>
		1. 请妥善保管个人密码，切勿告诉他人<br/>
		2. 为了您的帐户安全，请勿频繁修改密码
		</p>
	</div>
</div>
</body>

</html>