<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper" id="userCenter_wrapperObj">
	<!--<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon" style="display:none"></span></p>
		<h3 class="head_cn">用户中心</h3>
		<p class="head_rt" data-t="set"><span class="seticon icon"></span></p>
	</header>-->
	<section class="centerWrap" id="userCenter_droploadWrap" style="padding: 0; background: #eee;">
		<div class="user_wrap userCenter_top">
			<h3 style="height: 44px;text-align: center;line-height: 44px;font-size: 18px;background:#be0201; ">我的大厅</h3>
			<div class="usertop clearfix" style="padding:0;;background:url(images/img/bei.png);width: 100%;height:14rem;background-size: 100% 100%;">
				<p class="user_title" style="margin:10px 0 0 6px;width: 85%;">
					<strong style="font-size: 18px;">&nbsp;个人中心&nbsp;</strong>
					<span id="userCenter_userName" class="user_info_btn" >
						<a data-t="login" class="s-a" style="background-color: #fff;">登录 / </a>
					    <a data-t="register" class="s-a" style="background-color: #fff;"> 注册</a>
					</span>
				</p>
				<p class="head_rt set_btn" data-t="set" style="top:10px;">
					<span class="seticon icon set_icon"></span>
				</p>
			</div>
			<!-- <div class="usertop clearfix">
				<p class="user_title">个人中心</p>
				<p class="head_rt set_btn" data-t="set"><span class="seticon icon set_icon"></span></p>
			</div>
			<div class="user_info clearfix">
				<p class="fr" style="float: none;height: 30px;">
			                    <span id="userCenter_userName" class="user_info_btn"><a data-t="login">登录</a><a data-t="register">注册</a></span>
			                    <span id="userCenter_userName" class="user_info_btn"><p class="user_id">a18e5f0e5c</p><p class="user_phone">15212345678</p></span>
				</p>
			</div> -->
			<div class="user_mid" style="background:none;width: 100%;margin:0; ">
				<ul class="userinfo userinfo3 clearfix" id="userCenter_wrapA">
	            	<li>
						<p class="money_btn" data-t="ye">
							<span class="font16 yw">0</span>
							<span class="font12 bw">余额</span>
						</p>
					</li>
					<li >
						<p class="money_btn" data-t="hb">
							<span class="font16 yw">0</span>
							<span class="font12 bw">红包</span>
						</p>
					</li>
					<li >
						<p class="money_btn" data-t="jf">
							<span class="font16 yw">0</span>
							<span class="font12 bw">积分</span>
						</p>
					</li>
				</ul>
				<ul class="user_nav clearfix" style="background:rgba(0,0,0,0.2);width: 100%; margin-top:4px;height: 60px;" id="userCenter_money">
					<li data-t="recharge" style="width:50%;line-height: 37px;">
						<a href="javascript:void(0)" >
							<span class="re_bg" style="color:#fff;font-size:18px;font-weight:600;">充值</span>
						</a>
					</li>
					<li data-t="withdraw" style="width:50%;line-height: 37px;">
						<a href="javascript:void(0)" >
							<span class="wi_bg" style="color: #fff;font-size:18px;font-weight: 600">提现</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="user_mid2"></div> -->
			<!-- <div class="user_mid3"></div> -->
			
		</div>
		
		<div class="mybet" style="margin-top:40px;">
			<div class="tit clearfix">
				<p class="fl"><span class="beticon icon font16">我的订单</span></p>
				<p class="fr" data-t="launchlist"><span class="gray">全部订单<em class="rtarrow icon"></em></span></p>
			</div>
           
			<ul class="bet_info bet_info3 clearfix" id="userCenter_wrapB">
				<li style="width:100%;">加载中,请稍候...</li>
               <!-- <li data-t="launchType" data-v="dkj" >
					<span  class="circle c0"><em style="height:0%;margin-top:100%"></em><i >0</i></span>
					<span class="font12 gray">待开奖</span>
				</li>
				<li data-t="launchType" data-v="yzj">
					<span  class="circle c0"><em style="height:0%;margin-top:100%"></em><i >0</i></span>
					<span class="font12 gray">已中奖</span>
				</li>-->
			</ul>
             <div class="tit clearfix" style="border-top:1px solid #ebebeb;display:none" id="userCenter_openTicket">
				<p class="fl" data-t="ticketList" id="userCenter_otRecord" style="display:none;width:130px;height:50px;position:absolute;z-index:999"><span class="jkicon icon font16">即开票订单</span></p>
				<p class="fr" data-t="buyTicket" id="userCenter_buyOt"><span class="gray">订票<em class="rtarrow icon"></em></span></p>
			</div>
		</div>
		<div class="user_list">
			<dl class="clearfix user_dian" data-t="hemai">
				<dt><span class="icon hmicon"></span></dt>
				<dd class="text font16"><span>我的合买</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>
			
			<dl class="clearfix user_dian" data-t="huodong">
				<dt><span class="icon gifticon"></span></dt>
				<dd class="text font16"><span>礼品中心</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>
            
			<dl class="clearfix user_dian" data-t="userinfo">
				<dt><span class="icon uificon"></span></dt>
				<dd class="text font16"><span>个人资料</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>
			
			<dl class="clearfix user_dian" data-t="feedback">
				<dt><span class="icon inicon"></span></dt>
				<dd class="text font16"><span>在线客服</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>
			
			<!-- <dl class="clearfix user_dian" data-t="share">
				<dt><span class="icon share_icon"></span></dt>
				<dd class="text font16"><span>分享好友</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl> -->
			<!--<dl class="clearfix" data-t="service" data-v="" id="userCenter_service">
				<dt><span class="icon serviceicon"></span></dt>
				<dd class="text font16"><span>我的专属客服</span></dd>
				<dd class="arrowbox" id="userCenter_serviceName"><span class="rtlink gray">添加</span><span class="rtarrow icon"></span></dd>
			</dl>-->
          <!-- <dl class="clearfix" data-t="station">
				<dt><span class="icon secicon"></span></dt>
				<dd class="text font16"><span>我的站点</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>
            <dl class="clearfix" data-t="memberBet" id="userCenter_memberBet" style="display:none">
				<dt><span class="icon memberBetIcon"></span></dt>
				<dd class="text font16"><span>会员订单</span> <span class="starIcon_1"></span> <span class="fr mr55 font12 mt5 fontred" id="userCenter_todayBet">今日单</span></dd>
				<dd class="arrowbox"><span class="rtarrow icon"></span></dd>
			</dl>-->
		</div>
		

		 
		<div class="kefu_box"><a href="" id="userCenter_kefuObj"><div class="kefu_img"></div></a></div>	 
	</section>
	
			<div style="width: 100%;height:50px;">  </div>
    
     
     
     <div class="overlayer" style="display:none" id="userCenter_authTipsObj" data-t="hideTips">
        <div class="bottomcon" data-t="nohide">
            <div class="playtip">
                <h3>提示</h3>
                <p class="font14 center">请完善实名认证,才可以继续操作! </p>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="clearAuthTips" class="w50"><span class="first">取消</span></a><a href="javascript:void(0);" data-t="toAuthTips" class="w50"><span>确定</span></a>
            </p>
        </div>
    </div>
    <div class="overlayer" style="display:none" id="userCenter_authPhoneObj" data-t="hideTips">
        <div class="bottomcon" data-t="nohide">
            <div class="playtip">
                <h3>提示</h3>
                <p class="font14 center">请绑定手机,才可以继续操作! </p>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="clearAuthPhone" class="w50"><span class="first">取消</span></a><a href="javascript:void(0);" data-t="toAuthPhone" class="w50"><span>确定</span></a>
            </p>
        </div>
    </div>
</div>
</body>

</html>