<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper">
	<header class="header">
		<a href="javascript:void(0)" id="verifyInfo_backbtn" class="head_lf"><span class="backicon icon"></span></a>
		<h3 class="head_cn">身份资料</h3>
	</header>
	<section class="centerWrap" >
		<div class="site_box">
			<div class="boxlf font16 verify_info">
				<p>实名认证<em class="vicon icon"></em></p>
				<p>真实姓名：<span id="verifyInfo_realName" ></span></p>
				<p>证件类型：<span id="verifyInfo_realType" ></span></p>
				<p>证件号码：<span id="verifyInfo_cardNo"></span></p>
			</div>
			<div class="boxrt"><span class="infon_arrow"></span><span class="white_bg"></span></div>
		</div>
	</section>
    <div class="paybot" style="margin-top:20px">
		<p class="w94 mb20 gray font12">温馨提示<br/>
		1. 实名信息一经认证不可修改<br/>
		2. 若有疑问请咨询在线服务
		</p>
	</div>
</div>
</body>


</html>