<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
<body>
<div class="wrapper">
	<header class="header">
		<p class="head_lf" id="wechatdrawSuc_backbtn"><a><span class="backicon icon"></span></a></p>
		<h3 class="head_cn">提现状态</h3>
	</header>
    
    <section class="centerWrap" id="wechatdrawSuc_content">
    	<div class="suc_bg">
    		<div class="img_box suc_img">
    			<img src="images/0905/suc_img.png"/>
    		</div>
    		<p>提现已提交</p>
    		<span>稍后请查看微信零钱</span>
    	</div>
    	<div class="suc_info">
    		<p>预计到账时间:60分钟</p>
    		<div class="return_btn">
    			<span id="return_home">完成</span>
    		</div>
    	</div>
    </section>
    
</div>
</body>