<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
</head>
<body>
<div class="wrapper" id="fastTrend_lotteryObj">
	<section class="topfix centerWrap_1"><!-- topfix -->
		<header class="header">
			<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
			<h3 class="head_cn"><span class="dlt_tit" data-t="showupdplay" id="fastTrend_playTitleObj">11选5-任二<em class="down"></em></span></h3>
			<p class="head_rt"><span class="seticon icon" data-t="showSet"></span></p>
		</header>
		<div class="tzhu_style clearfix p3 syx5" id="fastTrend_updataPlayObj" style="display:none;">
			<p data-t="updatelottery" data-v="R2" data-cn="任二"><span class="botborder">任 二</span></p>
			<p data-t="updatelottery" data-v="R3" data-cn="任三"><span class="botborder">任 三</span></p>
			<p data-t="updatelottery" data-v="R4" data-cn="任四"><span class="botborder">任 四</span></p>
			<p data-t="updatelottery" data-v="R5" data-cn="任五"><span class="botborder">任 五</span></p>
			<p data-t="updatelottery" data-v="R6" data-cn="任六"><span class="botborder">任 六</span></p>
			<p data-t="updatelottery" data-v="R7" data-cn="任七"><span class="botborder">任 七</span></p>
			<p data-t="updatelottery" data-v="R8" data-cn="任八"><span class="botborder">任 八</span></p>

			<p data-t="updatelottery" data-v="FP1" data-cn="前一"><span class="botborder">前一</span></p>
			<p data-t="updatelottery" data-v="FP2" data-cn="前二直"><span class="botborder">前二直</span></p>
			<p data-t="updatelottery" data-v="FC2" data-cn="前二组"><span>前二组</span></p>
			<p data-t="updatelottery" data-v="FP3" data-cn="前三直"><span>前三直</span></p>
			<p data-t="updatelottery" data-v="FC3" data-cn="前三组"><span>前三组</span></p>
		</div>	
		<ul class="comtab trend_tab comtab3 clearfix">
			<li data-t="updateTrendName" data-v="HM" class="on"><span>号码</span></li>
			<li data-t="updateTrendName" data-v="YL"><span>遗漏</span></li>
			<li data-t="updateTrendName" data-v="LR" ><span>冷热</span></li>
		</ul>
		<div class="trend_top font12 whitebg">
			<div class="trend_qh gray">
				<span id="fastTrend_titleFirstObj" data-t="sortDom" data-k="title@0"></span>
			</div>
			<div class="numwrap" id="fastTrend_titleConObj">
			</div>
		</div>
	</section>
	<section>
		<div style="height:101px;"></div>
		<!-- 走势 -->
		<div class="trend_con gray font12">
			<div class="trend_qh" id="fastTrend_listFirstObj">
			</div>
			<div class="numwrap" id="fastTrend_listConObj">
			</div>
		</div>
		<!-- <div class="trend_info whitebg gray" id="fastTrend_explainObj" style="display:none;">
		</div> -->
	</section>
	<div style="height:130px;"></div>
	<section class="bottomcon" style="display:;"><!-- bottomcon -->
		<div class="trend_bet font12 whitebg">
			<div class="trend_qh">
				<span id="fastTrend_betFirstObj"></span>
			</div>
			<div class="numwrap" id="fastTrend_betConObj"> 
			</div>
		</div>
		<div class="trend_selected font12 clearfix" id="fastTrend_betObj" style="display:none;">
			<div class="yx fl">
				<span>已选</span>
			</div>
			<div class="yxcon fl clearfix fontred" id="fastTrend_selectObj">
			</div> 
		</div>
		<div class="bet bor_top clearfix">
			<p class="fl bet_lf" data-t="delAll"><a href="javascript:void(0);" class="btn_del"><span class="delicon icon"></span></a></p>
			<p class="fl bet_mid" id="fastTrend_betMoneyObj" style="display:none;">
				<span class="fontred">0</span>注 <span class="fontred">0</span>元
			</p>
			<p class="fl bet_mid" id="fastTrend_qhObj">
				<!--029期离截止<span class="fontred">19:00</span>-->
			</p>
			<p class="fr bet_rt" data-t="subData" id="fastTrend_subObj"><a href="javascript:void(0);" class="btn_buy">提 交</a></p>
		</div>
	</section>
	<div class="overlayer" style="display:none;" id="fastTrend_setObj">
		<div class="bottomcon">
			<div class="trend_set">
				<h3 class="center mb10">走势设置</h3>
				<div class="setcon">
					<dl class="clearfix">
						<dt>期数</dt>
						<dd>
							<span data-t="updateData" data-v="num_30">近30期</span><span class="on" data-t="updateData" data-v="num_50">近50期</span><span data-t="updateData" data-v="num_100">近100期</span>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>遗漏</dt>
						<dd>
							<span class="on" data-t="updateData" data-v="showYL_show">显示</span><span data-t="updateData" data-v="showYL_hide">隐藏</span>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>统计</dt>
						<dd>
							<span class="on" data-t="updateData" data-v="statistics_show">显示</span><span  data-t="updateData" data-v="statistics_hide">隐藏</span>
						</dd>
					</dl>
				</div>
			</div>
			<p class="btn_simple">
				<a href="javascript:void(0);" data-t="resSet" class="w50"><span class="first">取消</span></a><a href="javascript:void(0);" data-t="subSet" class="w50"><span>确定</span></a>
			</p>
		</div>
	</div>
</div>
</body>

</html>