<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper">
	<header class="header">
		<p class="head_lf" id="numKaijiang_backObj"><span class="backicon icon" ></span></p>
		<h3 class="head_cn">开奖</h3>
        <p class="head_rt" data-t="showDate" id="numKaijiang_showDateObj" style="display:none;"><span class="calendaricon icon"></span></p>
        <p class="head_rt" data-t="showSet" id="numKaijiang_showSet" style="display:none;">定制</p>
	</header>
    <div class="navlist nav_date" style="display:none;" id="numKaijiang_dateTipsObj">
		<span class="nav_arrow statebg"></span>
		<ul>
		</ul>
	</div>
	<section class="centerWrap"  id="numKaijiang_kjDivObj">
		<div id="numKaijiang_scrollObj">
			<ul style="width:900px;" class="comtab clearfix" id="numKaijiang_kjTitleObj">
			</ul>
		</div>
		<!-- 大乐透开奖start -->
        <div id="numKaijiang_droploadWrap">
		<div class="kjlist" id="numKaijiang_kjListObj">
        	<p class="loading_1"></p>
		</div>
        </div>
	</section>
     <div style="height:65px"></div>
</div>
</body>

</html>