<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="newsDetail_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn" id="newsDetail_topTit"></h3>
        <!-- <p class="head_rt" data-t="share"><a href="javascript:void(0)" ><span class="shareicon icon" id="newsDetail_share"></span></a></p> -->

	</header>
	<section class="centerWrap" id="newsDetail_wrap">
		<div class="article">
        	<h2 class="center mb5" id="newsDetail_title"></h2>
            <p class="center font12 font9 mb10" ><a href="javascript:void(0)" class="mr10" id="newsDetail_source"></a><span id="newsDetail_time"></span></p>
        	<div class="article-con" id="newsDetail_content"></div>
        </div>
        <div id="newsDetail_ad" style="padding-bottom:20px">
        	<!--<fieldset class="news-ad">
            <legend>赞助商提供</legend>
            <div>
                <img src="">
            </div>
            <span class="ad-tag">广告</span>
            </fieldset>-->
        </div>
	</section>
	
</div>
</body>

</html>