<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="newsIdx_wrapperObj">
	<section class="centerWrap" id="newsIdx_wrap" style="padding: 0 0 50px;">
     
       <div class="banner">
		  <ul class="banner_scroll" id="newsIdx_bannerImgObj">	
          	<!--<li data-t="link" data-v="" ><img src="images/defNewsBanner.jpg"></li>-->	
		  </ul>
		</div>
        <div class="news-wrap">
        	<ul class="news-tab news-ashi clearfix" id="newsIdx_tab">
                <li class="on" data-t="tit" data-v="1">
                    <a href="javascript:void(0)" id="newsIdx_tab_jryw">点石要闻</a> 
                </li>
                <li class="" data-t="tit" data-v="3">
                    <a href="javascript:void(0)" id="newsIdx_tab_szc">数字彩</a>
                </li>
                <li class="" data-t="tit" data-v="4">
                    <a href="javascript:void(0)" id="newsIdx_tab_jjc">竞技彩</a> 
                </li>
                <li class="" data-t="tit" data-v="5">
                    <a href="javascript:void(0)" id="newsIdx_tab_zxgg">通知公告</a> 
                </li>
            </ul>
            <div class="news-con" id="newsIdx_list">
            	<p class="loading_3"></p>
            </div>
        </div>
	</section>
	
</div>
</body>

</html>