<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>合买列表</title>
<link rel="stylesheet" href="css/global.css" />
</head>

<body>
<div class="wrapper" id="hemaiList_wrapObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon" ></span></p>
		<h3 class="head_cn">合买列表</h3>
	</header>
	<section class="centerWrap" >
		<div class="myRecord clearfix">
			<div id="hemaiList_content">
				<!--<p class="loading_1"></p>-->
			</div>
		</div>
	</section>
     <section class="hemaiDet" id="hemaiList_buyObj" style="display: none;">
		<div class="hmDet_bet">
			<div class="hmDet_bet_t">
				<em class="icon checkbox checked reg_yes"></em>
				我已阅读并同意
				<a href="javascript:void(0);" class="fontblue" data-t="xy">《用户跟单知情协议》</a>
			</div>
			<div class="hmDet_bet_b">
				<div class="hmDet_input clearfix">
					<div class="hmInput_in clearfix">
						<span data-t="reduce" data-k="q">－</span>
						<span data-t="per" id="hemaiList_copObj">1份</span>
						<span data-t="increase" data-k="q">＋</span>
					</div>
					<div class="hmInput_money">共<p id="hemaiList_moneyObj">1</p>元</div>
				</div>
				<div class="hmDet_btn clearfix">
					<div class="hmDet_btn_list"><p style="background-color: #fa993b;" data-t="buyAll">全包</p></div>
					<div class="hmDet_btn_list"><p style="background-color: #e04241;" data-t="submit">立即购买</p></div>
				</div>
			</div>
		</div>
	    <div class="keyboard key3" style="display:none;" id="hemaiList_overNumObj">
			<ul>
				<li>
					<span data-t="on" data-v="1"><em>1</em></span>
					<span data-t="on" data-v="2"><em>2</em></span>
					<span data-t="on" data-v="3"><em>3</em></span>
				</li>
				<li>
					<span data-t="on" data-v="4"><em>4</em></span>
					<span data-t="on" data-v="5"><em>5</em></span>
					<span data-t="on" data-v="6"><em>6</em></span>
				</li>
				<li>
					<span data-t="on" data-v="7"><em>7</em></span>
					<span data-t="on" data-v="8"><em>8</em></span>
					<span data-t="on" data-v="9"><em>9</em></span>
				</li>
				<li>
					<span data-t="od"><em class="font18">←</em></span>
					<span data-t="on" data-v="0"><em>0</em></span>
					<span data-t="os"><em class="fontblue">确定</em></span>
				</li>
			</ul>
		</div>
	</section>
</div>
</body>

</html>