<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<!--<link rel="stylesheet" href="css/global.css"/>-->

</head>
<body>
<div class="wrapper" id="hemaiIndex_wrapperObj">
	<header class="header">
		<p class="head_lf hm_lf" data-t="star"><span>热门大咖</span></p>
		<h3 class="head_cn">合买</h3>
		<p class="head_rt hm_rt" data-t="attention"><span>我的关注</span></p>
	</header>
	<section class="centerWrap hm_section" id="hemaiIndex_contentWrap">
		<div class="hm_header clearfix" id="hemaiIndex_header">
			<div class="hm_header_list hm_select">
				<p id="hemaiIndex_lotteryObj" data-t="lottery">全部</p>
				<ul id="hemaiIndex_selectObj" class="hm_sct_con" style="display:none;">
					<li data-t="setLottery" data-v="" class="selected">全部</li>
					<li data-t="setLottery" data-v="FTFH">竞彩足球</li>
					<li data-t="setLottery" data-v="SPF14">胜负彩</li>
					<li data-t="setLottery" data-v="SPF9">任选九</li>
					<li data-t="setLottery" data-v="BSKFH">竞彩篮球</li>
					<li data-t="setLottery" data-v="SSQ">双色球</li>
					<li data-t="setLottery" data-v="DLT">超级大乐透</li>
					<li data-t="setLottery" data-v="PL3">排列三</li>
					<li data-t="setLottery" data-v="PL5">排列五</li>
					<li data-t="setLottery" data-v="D3">福彩3D</li>
				</ul>
			</div>
			<div id="hemaiIndex_jd" class="hm_header_list" style="width: 17%;"><span data-t="jd" data-v="de" class="hm_h_btn hm_jd">进度</span></div>
			<div id="hemaiIndex_je" class="hm_header_list" style="width: 17%;"><span data-t="je" data-v="de" class="hm_h_btn hm_je">金额</span></div>
			<div id="hemaiIndex_hb" class="hm_header_list"><span data-t="hb" data-v="de" class="hm_h_btn hm_hb">周回报率</span></div>
			<div id="hemaiIndex_jz" class="hm_header_list"><span data-t="jz" data-v="de" class="hm_h_btn hm_jz">快截止</span></div>
		</div>
		<div class="order_wrap" style="display:none;" id="hemaiIndex_noTipsObj">
			<div class="noact center">
				<p>
					<span class="disbg dis3"></span>
				</p>
				<p class="gray mb40">暂无合买推荐</p>
				<p class="gray mb15">这一秒，让梦想绽放</p>
				<p data-t="betFTFH">
					<a href="javascript:void(0);" class="btn btn_big">发起合买</a>
				</p>
			</div>
		</div>
		<div class="hm_content" id="hemaiIndex_listObj"></div>
	</section>
</div>
</body>

</html>