<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>我的关注</title>
<link rel="stylesheet" href="css/global.css" />
</head>

<body>
<div class="wrapper" id="myAttention_wrapObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon" ></span></p>
		<h3 class="head_cn">我的关注</h3>
	</header>
	<section class="centerWrap" >
		<div class="centerContent" id="myAttention_listObj">
			<p class="loading_1"></p>
			<!--<dl class="hotBig_list">
				<div class="hotBig_name">
					<div class="hotBig_nickname">
						<p class="text_show" style="text-align: left;">一二三四五六</p>
					</div>
				</div>
				<div class="hotBig_per">
					<p style="color: #fe3104;">粉丝10000</p>
				</div>
				<dd class="point_star" data-t="openStar"></dd>
				<div class="hotBig_atn hm_atn" id="myAttention_atnObj">
					<span class="atn_btn foo_atn unfollow" data-t="atn" data-v="yes">取消关注</span>
				</div>
			</dl>
			<div class="center endtip_1">暂无关注</div>-->
		</div>
	</section>
    
</div>
</body>

</html>