<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="aboutUs_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn">关于我们</h3>
	</header>
	<section class="centerWrap" >
		<div class="logowrap center">
			<p class="logo mb5" style="margin-bottom:10px"><img style="width:80px;border-radius: 50%;" src="images/log.png"  alt="天天中彩彩票" title="天天中彩彩票"></p>
			<p class="font12">天天中彩彩票<span id="aboutUs_platform">Android</span>版</p>
			<p class="font12">V<span id="aboutUs_version">1.0.0</span></p>
		</div>
		<ul class="info_list mb8">
			<!--<li>-->
				<!--<span class="w25 font16">欢迎使用</span>-->
				<!--<span><em class="rtarrow icon"></em></span>-->
			<!--</li>-->
			<li data-t="protocol">
				<span class="w25 font16">服务协议</span>
				<span><em class="rtarrow icon"></em></span>
			</li>
			<li data-t="aboutsoftware">
				<span class="w25 font16">软件声明</span>
				<span><em class="rtarrow icon"></em></span>
			</li>
		</ul>
	</section>
	<div class=" gray font12 center">
		<p>天天中彩 版权所有</p>
		<p>CopyRight©2017</p>
		<p>All Right Reserved</p>
	</div>
</div>
</body>

</html>