<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../../css/news.css"/>
    <link rel="stylesheet" href="../../css/app_fix.css"/>
    <link rel="stylesheet" href="../../css/global.css"/>
    <title></title>
</head>
<body>

<div class="wrapper" id="sweep_wrapperObj">
    <header class="header">
        <p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
        <h3 class="head_cn">客服二维码</h3>
    </header>

    <div class="sweep">
        <div class="sweep-pic">
            <img id="sweep_qrcode"/>
        </div>

        <p class="sweep-text">长按或扫描二维码<br>绑定专属客服</p>
        <!--<p class="sweep-text2">扫 描</p>-->
    </div>
<!--  长按分享第一个状态  -->
    <div class="Popup" id="sweep_shareqrcode" style="display: none">
        <div class="Popup-Save" data-t="savePic">保存图片</div>
        <div class="Popup-Save" data-t="sharePic">分享给朋友</div>
        <div class="Popup-Save Popup-cancel" data-t="cancelSave">取消</div>
    </div>
    
    

</div>

</body>
</html>
