<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper" id="bonusRecord_bonusObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn multirow">
			<span>我的红包</span>
			<span class="font12" id="bonusRecord_allMoneyObj"></span>
		</h3>
		<!-- <p class="head_rt"  data-t="jh"><a href="javascript:void(0)">激活</a></p> -->
	</header>
	<section class="centerWrap" >
		<ul class="comtab comtab4 mb20 clearfix">
			<li class="on"  data-t="update" data-v="yes"><span>可使用</span></li>
			<li data-t="update" data-v="not"><span>待领取</span></li>
			<li data-t="update" data-v="expired"><span>已过期</span></li>
			<li data-t="update" data-v="used"><span>已用完</span></li>
		</ul>
		<div class="order_wrap" id="bonusRecord_bonusListObj">
			
		</div>
	</section>
</div>
</body>

</html>