<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper" id="cashRecord_cashObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn multirow">
			<span>现金明细</span>
			<span class="font12" id="cashRecord_allMoneyObj"></span>
		</h3>
		<p class="head_rt" data-t="search"><span class="srhicon icon"></span></p>
	</header>
	<section class="centerWrap" >
		<ul class="comtab comtab3 mb20 clearfix">
			<li class="on" data-t="update" data-v=""><span>全部</span></li>
			<li data-t="update" data-v="coin_in"><span>收入</span></li>
			<li data-t="update" data-v="coin_out"><span>支出</span></li>
		</ul>
		<div class="order_wrap" id="cashRecord_cashListObj">
		</div>
	</section>
    <a href="javascript:void(0)" style="display:none" id="cashRecord_goTop" class="gotop">↑</a>
</div>
</body>

</html>