<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>

</head>
<body>
<div class="wrapper" id="openTicketRecord_wrapObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn ">
			<span>即开票订单</span>
		</h3>
        <p class="head_rt" data-t="buy"><span ><a href="javascript:void(0)">订票</a></span></p>
	</header>
	<section class="centerWrap" >
		<div class="order_wrap mt10" id="openTicketRecord_listObj">
			<div class="orderlist">
				<div class="slf">
					<span class="dot"></span>
					<span class="line"></span>
				</div>
				<div class="srt">
					<p class="gray mb8">16/11/22</p>
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">1包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥558</span>
								<!--<span class="fr"><a href="javascript:void(0)" class="fontblue">等待付款</a></span>-->
                                <span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
				<div class="srt">
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">10包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥5580</span>
								<!--<span class="fr"><a href="javascript:void(0)" class="fontblue">确认收货</a></span>-->
                                <span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
			</div>
			<div class="orderlist">
				<div class="slf">
					<span class="dot"></span>
					<span class="line"></span>
				</div>
				<div class="srt">
					<p class="gray mb8">16/11/21</p>
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">1包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥558</span>
								<span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
				<div class="srt">
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">2包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥1116</span>
								<span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
			</div>
            <div class="orderlist">
				<div class="slf">
					<span class="dot"></span>
					<span class="line"></span>
				</div>
				<div class="srt">
					<p class="gray mb8">16/11/20</p>
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">2包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥1116</span>
								<span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
				<div class="srt">
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">1包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥558</span>
								<span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
                <div class="srt">
					<div class="orderbox mb10 clearfix">
						<div class="fl jpic"><img src="images/jkp.png"></div>
						<div class="fl jkp-order">
							<h3 class="mb10 clearfix">
								<span class="fl">即开票订单</span>
								<span class="fr font12">1包</span>
							</h3>
							<p class="font12 clearfix">
								<span class="fl fontred">￥558</span>
								<span class="fr gray">付款成功</span>
							</p>	
						</div>						
					</div>
				</div>
			</div>
            <!-- -- >
		</div>
	</section>
</div>
</body>

</html>