<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper" id="">
	<header class="header">
		<p class="head_lf"><a href="javascript:void(0);" class="backicon icon" id="prizeReviewDetail_backbtn"></a></p>
		<h3 class="head_cn">优化详情</h3>
	</header>
	<section class="centerWrap">
		<div class="prise_con prise_detail">
			<div class="p_th gray whitebg">
				<div class="clearfix center">
					<div class="fl w10 p_hide"></div>
					<div class="fl w90">
						<div class="clearfix">
							<span class="fl w18">场次</span>
							<p class="fl w50 p_team clearfix">
								<span class="w45">主队</span>
								<em class="gray w10 p_hide"></em>
								<span class="w45">客队</span></p>
							<p class="fl w32">
								<span>投注内容</span>
							</p>
						</div>
					</div>
				</div>
			</div>
            <div id="prizeReviewDetail_wrap">
			
			</div>
		</div>
		<div style="height:60px;"></div>
	</section>
    <div class="nav_bot nav1">
    	<span class="twin"><a  href="javascript:void(0);"  id="prizeReviewDetail_botBack" class="fontblue" >标准选单</a></span>
    	<span class="twin"><a  class="fontblue" href="javascript:void(0)" id="prizeReviewDetail_bet" data-t="bet">继续选号</a></span>
  	    
    </div>
</div>
</body>