<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>订单状态</title>
<link rel="stylesheet" href="css/global.css" />
<link rel="stylesheet" href="css/user.css" />
</head>

<body>
<div class="wrapper" id="projectSubDetail_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn">订单状态</h3>
	</header>
	<section class="centerWrap" >
		<div class="w94 paytop fixTopTit_1" id="projectSubDetail_wrapA">
			
		</div>
        
        <div class="jdwrap pt15 mt75"> <!-- style="display:none;" -->
			<p class="w94 gray">订单编号：<span id="projectSubDetail_pid"></span></p>
			<div class="payjd clearfix">
				<div class="fl mr25">
					<div class="jdli">
						<p class="gray">投注</p>
					</div>
					<div class="jdli">
						<p class="gray">付款</p>
					</div>
					<div class="jdli">
						<p class="gray">出票</p>
					</div>
					<div class="jdli">
						<p class="gray">开奖</p>
					</div>
					<div class="jdli">
						<p class="gray">派奖</p>
					</div>
				</div>
				<div class="fl pt10" id="projectSubDetail_wrapB">
                
				</div>
				<div class="fl" id="projectSubDetail_wrapC">
                
				</div>
			</div>
		</div>
		

	</section>
	<div class="smbot center" id="projectSubDetail_wrapD">
		
	</div>
</div>
</body>

</html>