<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>订单详情</title>
<link rel="stylesheet" href="css/global.css" />
<link rel="stylesheet" href="css/lottery.css" />

</head>

<body>
<div class="wrapper" id="projectDetail_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn">订单详情</h3>
	</header>
	<section class="centerWrap" >
		<ul class="detail_wrap" id="projectDetail_wrapA">
		</ul>
        <div  class="listbg_0 jsCalcHeight"></div>
		<div class="w94 jsCalcHeight" id="projectDetail_wrapD">
			<!--<p class="detail_tit clearfix">
                <span class="fl">方案内容</span>
				<span class="fr font12"><em class="gray" id="projectDetail_desc1">  </em></span>
			</p>-->
		</div>
        <div class="listbg_1 jsCalcHeight"></div>
        <div class="listbg_2 jsCalcHeight"></div>
		<div  id="projectDetail_wrapB" class="jsCalcHeight">
			
		</div>
		<div style="height:70px;"></div>
	</section>
	<div class="nav_bot nav_s1" id="projectDetail_wrapC" style="display:none">
		<!--<a href="javascript:void(0)" data-t="bet">继续守号</a>-->
	</div>
    <div class="overlayer" style="display:none" id="projectDetail_sucTip" data-t="hideTips">
        <div class="bottomcon" >
            <div class="playtip">
                <p class="center suc_1" ></p>
                <h3 class="center" style="margin-bottom:0">提交成功</h3>
                
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="hideTip" class="w50"><span class="first">返回</span></a><a href="javascript:void(0)"  data-t="goStation" class="w50"><span>联系彩站</span></a>
            </p>
        </div>
    </div>
</div>
</body>

</html>