<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>
<body>
<div class="wrapper" id="ticketDetail_wrap">
	<header class="header">
		<p class="head_lf" id="ticketDetail_backbtn"><a href="javascript:void(0)" class="backicon icon"></a></p>
		<h3 class="head_cn">票样详情</h3>
        <p class="head_rt" id="ticketDetail_star" style="display:none"><span class="icon_1 starGray"></span></p>
	</header>
    <div class="loading_2 centerWrap" id="ticketDetail_loading" style="display:none"></div>
	<section class=""  id="ticketDetail_record">
	
		
		
		
		
	</section>
    <div class="overlayer"  id="ticketDetail_starTip" style="display:none">
        <div class="bottomcon" >
            <div class="playtip">
               <div class="box_5">
                   <dl class="fl" data-t="flag" data-v="1">
                     <dt><span class="icon_1 starGreen"></span></dt>
                     <dd><span class="radiobox_1" id="ticketDetail_Green"></span></dd>
                   </dl>
                   <dl class="fl" data-t="flag" data-v="2">
                     <dt><span class="icon_1 starRed"></span></dt>
                     <dd><span class="radiobox_1" id="ticketDetail_Red"></span></dd>
                   </dl>
                   <dl class="fl" data-t="flag" data-v="3">
                     <dt><span class="icon_1 starBlue"></span></dt>
                     <dd><span class="radiobox_1" id="ticketDetail_Blue"></span></dd>
                   </dl>
                   <dl class="fl" data-t="flag" data-v="4">
                     <dt><span class="icon_1 starPurple"></span></dt>
                     <dd><span class="radiobox_1" id="ticketDetail_Purple"></span></dd>
                   </dl>
               </div>
               <div class="bgBox_1 ">
               	<textarea >已经转账付款; 票已出; 已经拍照发送;</textarea>
               </div>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="hideTip" class="w50"><span class="first">取消</span></a><a href="javascript:void(0)"  data-t="save" class="w50"><span>保存</span></a>
            </p>
        </div>
    </div>
    <div class="nav_bot nav_s1"><a id="ticketDetail_continue" style="width: 99%;">继续守号</a></div>
</div>
</body>

</html>