<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title></title>
	<link rel="stylesheet" href="css/global.css" />

</head>

<body>
	<div class="wrapper" id="withdrawDetail_wrapTotal">
		<header class="header">
			<p class="head_lf"><a href="javascript:void(0)" data-t="back" class="backicon icon"></a></p>
			<h3 class="head_cn">订单号: <span id="withdrawDetail_orderNum"></span></h3>
		</header>
		<section class="centerWrap">
			<div class="w94 paytop fixTopTit_1" id="withdrawDetail_wrapA">

			</div>
			<div class="jdwrap mt119">
				<div class="payjd clearfix">

					<!-- 左边状态栏 -->
					<div class="fl mr25" id="withdrawDetail_wrapD">
						<!--<div class="jdli">
							<p class="font16 gray">申请</p>
						</div>
						<div class="jdli">
							<p class="font16 gray">审核</p>
						</div>
						<div class="jdli">
							<p class="font16 gray">处理</p>
						</div>
						<div class="jdli">
							<p class="font16 gray">到账</p>
						</div>-->
					</div>

					<!-- 进度条码控制 -->
					<div class="fl pt10" id="withdrawDetail_wrapB">

					</div>
					<!-- 右边状态栏 -->
					<div class="fl" id="withdrawDetail_wrapC">

					</div>
				</div>
				<p class="font16 gray clearfix" style="width: 100%;text-align:center;padding:15px 0 20px;">预计时间仅供参考，请以实际银行到账时间为准！</p>
			</div>
		</section>
		<div class="paybot">
			<a href="javascript:void(0)" data-t="draw">继续提现</a><a href="javascript:void(0)" data-t="home">立即投注</a>
		</div>
	</div>
</body>

</html>