<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="basketMix_lotteryObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
        <h3 class="head_cn"><span class="dlt_tit" >竞篮混投</span></h3>
		<!--<h3 class="head_cn"><span class="dlt_tit" data-t="showUpd">竞篮混投<em class="down"></em></span></h3>-->
		<p class="head_rt">
        	<a href="javascript:void(0)" class="topSpeLink" data-t="filter"><span class="filtericon icon mr10"  data-t="filter"></span></a>
            <a href="javascript:void(0)" class="topSpeLink" data-t="showNav"><span class="navicon icon" data-t="showNav"></span></a>
        </p>
	</header>
	<div class="tzhu_style clearfix p3 centerWrap" id="basketMix_updObj" style="display:none;">
		<p data-t="updLotteryType" data-v="sf"><span class="botborder">胜负</span></p>
		<p data-t="updLotteryType" data-v="rfsf"><span class="botborder">让分胜负</span></p>
		<p data-t="updLotteryType" data-v="dxf"><span class="botborder">大小分</span></p>
		<p data-t="updLotteryType" data-v="sfc"><span>胜分差</span></p>
		<p data-t="updLotteryType" data-v="hhtz"><span>混合投注</span></p>
		<p><span>&nbsp;</span></p>
	</div>
	<div class="navlist " style="display:none;" id="basketMix_navObj">
		<span class="nav_arrow statebg"></span>
		<ul>
			<li data-t="kaijiang"><a href="javascript:void(0);">竞篮赛果</a></li>
			<li data-t="help"><a href="javascript:void(0);">玩法说明</a></li>
		</ul>
	</div>
	<section id="basketMix_matchListObj" class="centerWrap">
		<p class="loading_1"></p>
	</section>
	<span class="prise_dot" id="basketMix_bonusOpt" style="display:none;">奖金优化</span>
	<section class="bottomcon">
		<span class="img_box prise_hemai" data-t="hemai" id="soccerR9_hemai"><img src="images/images/open_hm.png" alt="发起合买"/></span>
		<div class="bet_tip2" id="basketMix_betOneTipsObj">
			<p class="center fontred">红框1场也能投</p>
			<p class="center font12 gray">页面赔率仅供参考，请以出票为准</p>
		</div>
        
        <!-- 奖金评测 start-->
		<div class="jjpc center" id="basketMix_bonusDeilObj" style="display:none;">
			<div class="pc_tit clearfix">
				<span class="fl w30">命中</span>
				<span class="fl w70">最小奖金<em class="jgx">~</em>最大奖金</span>
			</div>
			<div class="pc_list" id="basketMix_bonusListObj">
			</div>
             <div class="grayDesc_1">单注最高奖金2-3关20万，4-5关50万，6关及以上100万</div>
		</div>
		<!-- 奖金评测 end-->
		<!-- 倍数设置 start-->
		<div class="bs_set" style="display:none;" id="basketMix_multipleObj">
			<div class="keyboard key5 bs_simple">
				<ul>
					<li>
						<span data-t="setM" data-v="10"><em>10倍</em></span>
						<span data-t="setM" data-v="20"><em>20倍</em></span>
						<span data-t="setM" data-v="50"><em>50倍</em></span>
						<span data-t="setM" data-v="100"><em>100倍</em></span>
						<span data-t="setM" data-v="200"><em>200倍</em></span>
					</li>
				</ul>
			</div>
			<div class="keyboard key3">
				<ul>
					<li>
						<span data-t="addM" data-v=1><em>1</em></span>
						<span data-t="addM" data-v=2><em>2</em></span>
						<span data-t="addM" data-v=3><em>3</em></span>
					</li>
					<li>
						<span data-t="addM" data-v=4><em>4</em></span>
						<span data-t="addM" data-v=5><em>5</em></span>
						<span data-t="addM" data-v=6><em>6</em></span>
					</li>
					<li>
						<span data-t="addM" data-v=7><em>7</em></span>
						<span data-t="addM" data-v=8><em>8</em></span>
						<span data-t="addM" data-v=9><em>9</em></span>
					</li>
					<li>
						<span data-t="delM"><em class="font18">←</em></span>
						<span data-t="addM" data-v=0><em>0</em></span>
						<span data-t="subM"><em>确定</em></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- 倍数设置 end-->
		<!-- 过关方式和已选场次 start-->
		<div class="setwrap" style="display:none;"  id="basketMix_ddDetailObj">
			<ul class="settab mb15 clearfix">
				<li class="on" data-t="showgg">
					<span>过关方式</span>
				</li>
				<li class="" data-t="showdd">
					<span id="basketMix_ddTitleObj">已选0场【设胆】</span>
				</li>
			</ul>
			<div class="gg_con" id="basketMix_ggObj">
				<div class="ggstyle">
					<p class="clearfix" id="basketMix_oneGGObj">
					</p>
				</div>
				<p class="w94 mb10" data-t="showOtherGG" id="basketMix_showOtherGGObj">更多过关方式 <em class="arrow trans"></em></p>
				<div class="ggstyle" style="display:none;">
					<p class="clearfix" id="basketMix_otherGGObj">
					</p>
				</div>
			</div>
			<div class="lists jz_lists" id="basketMix_ddObj" style="display:none;">
			</div>
		</div>
		<!-- 过关方式和已选场次 end-->
		<div class="bet_jz clearfix" style="display:none;" id="basketMix_lotteryInfoObj">
			<p class="fl" id="basketMix_ggdoorObj" data-t="showDDDom">
			</p>
			<p class="fl fontblue"  data-t='showMultiple' id="basketMix_multipleValObj">1倍</p>
			<div class="bet_mid fl center">
				<p class="pt5">共<span class="fontred" id="basketMix_moneyObj">0</span>元</p>
                <!--data-t="getBonusDeil" 暂时奖金明细 -->
				<p class="font12" >最高奖金<span class="fontred f-line" id="basketMix_bonusObj">0</span>元</p>
			</div>
			<p class="fr w25"><a href="javascript:void(0);" data-t="submit" class="btn_buy">付 款</a></p>
		</div>
	</section>
	<!-- 选号start -->
	<section class="layler_xh" style="display:none;" id="basketMix_betspObj">
	</section>
	<!-- 选号end -->
</div>
</body>

</html>