<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>站点信息</title>
</head>
<body>
<div class="wrapper" id="localSite_wrap">
	<header class="header">
		<p class="head_lf" id="localSite_backObj"><span class="backicon icon"></span></p>
		
        <h3 class="head_cn">附近站点</h3>
        <!--<p class="head_rt" id="localSite_searchObj"><span class="srhicon icon"></span></p>-->
        <p class="head_rt">
        	<!--<span class="ewmicon icon mr10" id="localSite_showSMObj"></span>-->
            <span class="siteicon icon" id="localSite_reloadObj" style="display:none"></span>
        </p>
	</header>
	<section class="centerWrap" >
    	<div id="localSite_droploadWrap">
		<div class="list_wrap" id="localSite_siteList">
			<p id="localSite_loading" class="loading_1"></p>
		</div>
		</div>
	</section>
    <div class="overlayer" style="display:none" id="localSite_bindTip" data-t="hideTips">
        <div class="bottomcon" data-t="nohide">
            <div class="playtip">
                <h3>提示</h3>
                <p class="font14 center">确定要绑定该站点吗? </p>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="nobind" class="w50"><span class="first">取消</span></a><a href="javascript:void(0);" id="localSite_toBind" data-t="tobind" class="w50"><span>确定</span></a>
            </p>
        </div>
    </div>
</div>
<div id="localSite_allmap"></div>
</body>

</html>