<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="buyOpenTicket_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn">即开票</h3>
        <p class="head_rt"><a href="javascript:void(0)"><span data-t="record">订单</span></a></p>
	</header>
	<section class="centerWrap">
		<div class="jkp-wrap" id="buyOpenTicket_listWrap">
			<p class="jkp-list clearfix" data-t="title">
				<span class="fl">2元票</span>
				<span class="fr arrowbox"><em class="arrow"></em></span>
			</p>
            <div class="js_wrap">
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x2"><img src="images/ticket/2.png"></span>
					<div class="fl jinfo">
						<p>天空寻宝</p>
						<p class="gray">面值2元 | 每包300张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="天空寻宝" data-id="x2"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>
             <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x2_1"><img src="images/ticket/2_1.png"></span>
					<div class="fl jinfo">
						<p>年终奖</p>
						<p class="gray">面值2元 | 每包300张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="年终奖" data-id="x2_1"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            </div>					
			<p class="jkp-list clearfix" data-t="title">
				<span class="fl">5元票</span>
				<span class="fr arrowbox"><em class="arrow"></em></span>
			</p>
            <div class="js_wrap">
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x5"><img src="images/ticket/5.png"></span>
					<div class="fl jinfo">
						<p>发财树</p>
						<p class="gray">面值5元 | 每包120张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="发财树" data-id="x5"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x5_1"><img src="images/ticket/5_1.png"></span>
					<div class="fl jinfo">
						<p>恭喜发财</p>
						<p class="gray">面值5元 | 每包120张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="恭喜发财" data-id="x5_1"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
             <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x5_2"><img src="images/ticket/5_2.png"></span>
					<div class="fl jinfo">
						<p>甜蜜蜜</p>
						<p class="gray">面值5元 | 每包120张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="甜蜜蜜" data-id="x5_2"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            </div>								
			<p class="jkp-list clearfix" data-t="title">
				<span class="fl">10元票</span>
				<span class="fr arrowbox"><em class="arrow"></em></span>
			</p>
            <div class="js_wrap">
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10"><img src="images/ticket/10.png"></span>
					<div class="fl jinfo">
						<p>绿翡翠</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="绿翡翠" data-id="x10"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10_1"><img src="images/ticket/10_1.png"></span>
					<div class="fl jinfo">
						<p>9</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="9" data-id="x10_1"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
             <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10_2"><img src="images/ticket/10_2.png"></span>
					<div class="fl jinfo">
						<p>福禄寿喜</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="福禄寿喜" data-id="x10_2"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
             <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10_3"><img src="images/ticket/10_3.png"></span>
					<div class="fl jinfo">
						<p>津彩全运</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="津彩全运" data-id="x10_3"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
             <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10_4"><img src="images/ticket/10_4.png"></span>
					<div class="fl jinfo">
						<p>10倍幸运</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="10倍幸运" data-id="x10_4"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x10_5"><img src="images/ticket/10_5.png"></span>
					<div class="fl jinfo">
						<p>足够精彩</p>
						<p class="gray">面值10元 | 每包60张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="足够精彩" data-id="x10_5"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            </div>											
			<p class="jkp-list clearfix" data-t="title">
				<span class="fl">20元票</span>
				<span class="fr arrowbox"><em class="arrow trans"></em></span>
			</p>
            <div class="js_wrap">
			<div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x20"><img src="images/ticket/20.png"></span>
					<div class="fl jinfo">
						<p>富贵竹</p>
						<p class="gray">面值20元 | 每包30张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="富贵竹" data-id="x20"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x20_1"><img src="images/ticket/20_1.png"></span>
					<div class="fl jinfo">
						<p>超值8</p>
						<p class="gray">面值20元 | 每包30张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="超值8" data-id="x20_1"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>
            </div>						
			<p class="jkp-list clearfix" data-t="title">
				<span class="fl">30元票</span>
				<span class="fr arrowbox"><em class="arrow trans"></em></span>
			</p>
            <div class="js_wrap">
			<div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x30"><img src="images/ticket/30.png"></span>
					<div class="fl jinfo">
						<p>至尊宝</p>
						<p class="gray">面值30元 | 每包20张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="至尊宝" data-id="x30"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            <div class="jkp-con" data-t="content">
				<div class="jkp-detail clearfix">
					<span class="fl jpic" data-t="img" data-id="x30_1"><img src="images/ticket/30_1.png"></span>
					<div class="fl jinfo">
						<p>大吉大利</p>
						<p class="gray">面值30元 | 每包20张</p>
						<p class="fontred"><span class="font14">￥</span><span class="font18" data-t="price">558</span></p>
						<p class="font12 gray">原值 <span class="oprice">￥600</span></p>
						<p class="jipt clearfix" data-t="buy">
							<span class="add">+</span>
						</p>
                        <p class="jipt clearfix " style="display:none" data-t="modify">
							<span data-t="minus">-</span><input type="text" value="0" data-t="val" data-price="558" data-name="大吉大利" data-id="x30_1"><span data-t="add">+</span>
						</p>
					</div>
				</div>	
			</div>	
            </div>				
		</div>
		<div style="height: 50px;"></div>
	</section>
    
        <section class="bottomcon" id="buyOpenTicket_shop" style="display:none">
            <div class="" data-t="shop" style="display:none" id="buyOpenTicket_buyListWrap" >
                <div class="shopping-tit clearfix">
                    <p class="fl gray" id="buyOpenTicket_sendWrap">
                        <span class="j-rad on" data-t="send"><em class="block"></em>用户自提</span>
                        <span class="j-rad" data-t="send"><em class="block"></em>物流送货</span>
                    </p>
                    <a href="javascript:void(0);" class="fr font12"><span data-t="clear" style="text-align:right;width:60px;height:16px;display:inline-block">清空</span></a>
                </div>
                <div class="shopping-list" id="buyOpenTicket_buyList">
            
                    
                </div>
            </div>
            <div class="bet clearfix" >
                <div class="jkpcart fl" >
                    <p data-t="showBuyList"><a href="javascript:void(0);" class="btn_del">
                        <span class="carticon icon"><em class="cartnum" id="buyOpenTicket_count"></em></span>					
                    </a>
                    </p>
                </div>
                <div class="bet_mid fl center">
                    <p class="font14">共<span class="fontred" id="buyOpenTicket_money">0</span>元</p>
                </div>
                <p class="fr w25"><span data-t="submit"><a href="javascript:void(0)" class="btn_buy" >付款</a></span></p>
            </div>
        </section>
    
    <div class="overlayer"  id="buyOpenTicket_tipOne" style="display:none">
        <div class="bottomcon" >
            <div class="playtip">
                <h3>确认要清空订单吗?</h3>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="hideTipOne" class="w50"><span class="first">取消</span></a><a href="javascript:void(0)" data-t="confirmTipOne" class="w50"><span>确定</span></a>
            </p>
        </div>
    </div>
    <div class="overlayer"  id="buyOpenTicket_tipTwo" style="display:none">
        <div class="bottomcon" >
            <div class="playtip">
                <h3>确认要进行付款吗?</h3>
            </div>
            <p class="btn_simple">
                <a href="javascript:void(0);" data-t="hideTipTwo" class="w50"><span class="first">取消</span></a><a href="javascript:void(0)" data-t="confirmTipTwo" class="w50"><span>确定</span></a>
            </p>
        </div>
    </div>
</div>
</body>

</html>