<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>

</head>

<body>

<div class="wrapper" id="hn4j1_lotteryObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn"><span class="dlt_tit" data-t="showupdplay" id="hn4j1_playTitleObj">海南4+1<em class="down"></em></span></h3>
		<p class="head_rt"><span class="trendicon icon mr10" data-t="zsurl"></span><span class="navicon icon" data-t="showTopMenu"></span></p>
	</header>
	<div class="tzhu_style clearfix p3 centerWrap" style="display:none;" id="hn4j1_updataPlayObj">
		<p data-t="updatelottery" data-v="D5"><span class="botborder hnsjy"><em>4+1</em><br/><em class="hn-prize">奖金130000元</em></span></p>
		<p data-t="updatelottery" data-v="R4C3"><span class="botborder hnsjy"><em>任4(3重)</em><br/><em class="hn-prize">奖金3250元</em></span></p>
		<p data-t="updatelottery" data-v="R3C2"><span class="botborder hnsjy"><em>任3(双重)</em><br/><em class="hn-prize">奖金122元</em></span></p>
		<p data-t="updatelottery" data-v="D4"><span class="botborder hnsjy"><em>定位4</em><br/><em class="hn-prize">奖金13000元</em></span></p>
		<p data-t="updatelottery" data-v="R4C2"><span class="botborder hnsjy"><em>任4(2双重)</em><br/><em class="hn-prize">奖金2165元</em></span></p>
		<p data-t="updatelottery" data-v="R3"><span class="botborder hnsjy"><em>任3(单号)</em><br/><em class="hn-prize">奖金62元</em></span></p>
		<p data-t="updatelottery" data-v="D3"><span class="botborder hnsjy"><em>定位3</em><br/><em class="hn-prize">奖金1300元</em></span></p>
		<p data-t="updatelottery" data-v="R4C1"><span class="botborder hnsjy"><em>任4(1双重)</em><br/><em class="hn-prize">奖金1080元</em></span></p>
		<p data-t="updatelottery" data-v="R2C2"><span class="botborder hnsjy"><em>任2(双重)</em><br/><em class="hn-prize">奖金24元</em></span></p>
		<p data-t="updatelottery" data-v="D2"><span class="botborder hnsjy"><em>定位2</em><br/><em class="hn-prize">奖金130元</em></span></p>
		<p data-t="updatelottery" data-v="R4"><span class="botborder hnsjy"><em>任4(单号)</em><br/><em class="hn-prize">奖金540元</em></span></p>
		<p data-t="updatelottery" data-v="R2"><span class="botborder hnsjy"><em>任2(单号)</em><br/><em class="hn-prize">奖金13元</em></span></p>
		<p data-t="updatelottery" data-v="D1"><span class="hnsjy"><em>定位1</em><br/><em class="hn-prize">奖金13元</em></span></p>
		<p data-t="updatelottery" data-v="R3C3"><span class="hnsjy"><em>任3(3重)</em><br/><em class="hn-prize">奖金350元</em></span></p>
		<p><span></span></p>
	</div>
	<div class="navlist" style="display:none;" id="hn4j1_topMenuLayer">
		<span class="nav_arrow statebg"></span>
		<ul>
			<li data-t="kjurl"><a href="javascript:void(0);">历史开奖</a></li>
			<li data-t="jjurl"><a href="javascript:void(0);">玩法说明</a></li>
		</ul>
	</div>
	<section class="centerWrap" > <!-- id="hn4j1_betWrap" -->
		<div class="history" >
			<p class="current fixTopTit_4" id="hn4j1_topDesc"></p>
			<div class="list" style="display:none;" id="hn4j1_chartList">
			</div>
			<p class="arrowmore center" data-t="showChartList"><span class="more"><em class="arrow trans"></em></span></p>
		</div>
		<div class="ballcon">
			<div class="listcon">
				<div class="tit gray selTitleObj">
					<p><span class="fontred font14 mr10"><b>·</b></span> 每位至少选择1个号码</p>
					<div class="tit_rt">
						<div class="jixuan p3">
							<span data-t="random" data-k=""><em class="icon phone"></em>机选</span><span></span>
						</div>
					</div>
				</div>
				<div class="betObj" data-v="D5">
					<fieldset class="num_fgx">
						<legend class="gray font12">第一位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第二位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第三位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="2">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="2">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第四位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="3">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="3">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">特别号</legend>
						<div class="bluepart ball_r5 selectObj">
							<p class="clearfix" data-v="4">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="4">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="4">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="4">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="D4" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">第一位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第二位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第三位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="2">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="2">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第四位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="3">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="3">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="D3" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">第一位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第二位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第三位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="2">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="2">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第四位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="3">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="3">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="D2" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">第一位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第二位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第三位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="2">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="2">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第四位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="3">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="3">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="D1" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">第一位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第二位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第三位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="2">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="2">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="2">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">第四位</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="3">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="3">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="3">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R4" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R4C2" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R3" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R3C3" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R2C2" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R2" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R4C3" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R4C1" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
				<div class="betObj" data-v="R3C2" style="display:none;">
					<fieldset class="num_fgx">
						<legend class="gray font12">重号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="0">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="0">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="0">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
					<fieldset class="num_fgx">
						<legend class="gray font12">单号</legend>
						<div class="redpart ball_r5 selectObj">
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
								<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
								<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
								<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
								<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
							</p>
							<p class="clearfix" data-v="1">
								<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
								<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
								<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
								<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
								<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
							</p>
						</div>
						<span class="arrowbox" data-t="showquick"><em class="arrow_down"></em></span>
						<div class="num_sel" style="display:none;">
							<p data-k="1">
								<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
							</p>
							<p data-k="1">
								<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
							</p>
						</div>
					</fieldset>
				</div>
			</div>
			<p class="center font12 gray mb10" id="hn4j1_bonusTipsObj">选号与开奖号码按位相符即中<span class="fontred" >130000</span>元</p>
		</div>
		<div style="height:48px;"></div>
	</section>
	<section class="bottomcon" style="display:;">
		<div class="bet clearfix">
			<p class="fl bet_lf" data-t="clear"><a href="javascript:void(0);" class="btn_del"><em class="delicon icon"></em></a></p>
			<p class="fl bet_mid"><span class="fontred" id="hn4j1_zhushuObj">0</span>注 <span class="fontred" id="hn4j1_moneyObj">0</span>元</p>
			<p class="fr bet_rt" data-t="submitBet" id="hn4j1_subObj"><a href="javascript:void(0);" class="btn_buy">提 交</a></p>
		</div>
	</section>
	<div class="bottomcon" style="display:none;">
		<div class="keyboard key5"><ul></ul></div>
	</div>
</div>
</body>

</html>