<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>七星彩-投注</title>
<link rel="stylesheet" href="css/global.css"/>

<script type="text/javascript" src="js/zepto/zepto.js"></script>
<script type="text/javascript" src="js/zepto/touch.js"></script>


</head>
<body>
<div class="wrapper" id="qxc_lotteryObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span class="backicon icon"></span></p>
		<h3 class="head_cn" id="qxc_playTitleObj">七星彩</h3>
		<p class="head_rt" >
        	<span class="trendicon icon mr10" data-t="zsurl"></span>
        	<span class="navicon icon" data-t="showTopMenu" ></span>
        </p>
	</header>
	<div class="navlist" style="display:none;" id="qxc_topMenuLayer">
		<span class="nav_arrow statebg"></span>
		<ul>
			<li data-t="kjurl"><a href="javascript:void(0);">历史开奖</a></li>
			<li data-t="jjurl"><a href="javascript:void(0);">玩法说明</a></li>
		</ul>
	</div>
	<section class="centerWrap" id="qxc_betWrap">
        <p class="current fixTopTit_4" id="qxc_topDesc"></p>
		<div class="history ">
			
			<div class="list"style="display:none;" id="qxc_chartList">
				
			</div>
			<p class="arrowmore center" data-t="showChartList"><span class="more"><em class="arrow trans"></em></span></p>
		</div>
		<div class="ballcon">
			<div class="listcon">
				<div class="tit gray selTitleObj">
					<p><span class="fontred font14"><b>·</b> 选号</span> 每位至少选1个号码</p>
					<div class="tit_rt">
						<div class="jixuan p3">
							<span data-t="random" data-k=""><em class="icon phone"></em>机选</span><span></span>
						</div>
					</div>
				</div>
				<fieldset class="num_fgx">
					<legend class="gray font12">第一位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="0">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="0">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="0">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="0">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第二位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="1">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="1">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="1">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="1">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第三位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="2">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="2">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="2">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="2">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第四位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="3">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="3">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="3">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="3">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第五位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="4">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="4">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="4">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="4">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第六位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="5">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="5">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;">
						<p data-k="5">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="5">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
				<fieldset class="num_fgx">
					<legend class="gray font12">第七位</legend>
					<div class="redpart ball_p3 selectObj">
						<p class="clearfix" data-v="6">
							<span class="ball" data-t="selectnum" data-v="0" data-k="0">0</span>
							<span class="ball" data-t="selectnum" data-v="1" data-k="1">1</span>
							<span class="ball" data-t="selectnum" data-v="2" data-k="2">2</span>
							<span class="ball" data-t="selectnum" data-v="3" data-k="3">3</span>
							<span class="ball" data-t="selectnum" data-v="4" data-k="4">4</span>
						</p>
						<p class="clearfix" data-v="6">
							<span class="ball" data-t="selectnum" data-v="5" data-k="5">5</span>
							<span class="ball" data-t="selectnum" data-v="6" data-k="6">6</span>
							<span class="ball" data-t="selectnum" data-v="7" data-k="7">7</span>
							<span class="ball" data-t="selectnum" data-v="8" data-k="8">8</span>
							<span class="ball" data-t="selectnum" data-v="9" data-k="9">9</span>
						</p>
					</div>
					<span class="arrowbox"  data-t="showquick"><em class="arrow_down"></em></span>
					<div class="num_sel" style="display:none;bottom:25px;">
						<p data-k="6">
							<span data-t="quick" data-v="d">大</span><span data-t="quick" data-v="x">小</span><span data-t="quick" data-v="q">全</span>
						</p>
						<p data-k="6">
							<span data-t="quick" data-v="j">奇</span><span data-t="quick" data-v="o">偶</span><span data-t="quick" data-v="c">清</span>
						</p>
					</div>
				</fieldset>
			</div>
			<p class="center font12 gray mb10">选号与开奖号码按位相符即中<span class="fontred">500万</span>元</p>
		</div>
		<div style="height:48px;"></div>
	</section>
	<section   class="bottomcon" style="display:;">
		<div class="bet clearfix remov">
			<p class="fl bet_lf" data-t="clear"><a href="javascript:void(0);" class="btn_del"><span class="delicon icon"></span></a></p>
			<p class="fl bet_mid"><span class="fontred" id="qxc_zhushuObj">0</span>注 <span class="fontred" id="qxc_moneyObj">0</span>元</p>
			<p class="fr bet_rt" data-t="submitBet"><a href="javascript:void(0);" class="btn_buy">提 交</a></p>
		</div>
	</section>
	<div class="bottomcon" style="display:none;">
		<div class="keyboard key5" id="qxc_jxLayer"><ul></ul></div>
	</div>
</div>
</body>


</html>