<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>双色球-投注</title>
</head>

<body>
 <!-- i-null -->
<div class="wrapper" id="ssq_lotteryObj">
	<header class="header">
		<p class="head_lf" data-t="backbtn"><span  class="backicon icon" ></span></p>
        <!---->
		<h3 class="head_cn"><span class="dlt_tit" data-t="showupdplay"  id="ssq_playTitleObj">双色球-普通<em class="down" ></em></span></h3>
		<p class="head_rt" >
        	<span class="trendicon icon mr10" data-t="zsurl"></span>
        	<span class="navicon icon" data-t="showTopMenu" ></span>
        </p>
	</header>
	<div class="tzhu_style clearfix centerWrap" style="display:none;" id="ssq_updataPlayObj">
		<p data-t="updatelottery" data-v="P" class="selected"><span>普通</span><em class="sel-mark"><i class="icon-sm sel-sm"></i></em></p>
		<p data-t="updatelottery" data-v="D"><span>胆拖</span><em class="sel-mark"><i class="icon-sm sel-sm"></i></em></p>
	</div>
	<div class="navlist" style="display:none;" id="ssq_topMenuLayer">
		<span class="nav_arrow statebg"></span>
		<ul>
			<li data-t="kjurl"><a href="javascript:void(0);">历史开奖</a></li>
			<li data-t="jjurl"><a href="javascript:void(0);">玩法说明</a></li>
		</ul>
	</div>
	<section class="centerWrap" id="ssq_betWrap">
    	<p class="current fixTopTit_4" id="ssq_topDesc" data-t="showChartList"></p>
    	<i class="i-null"></i>
		<div class="history">
			<div class="list" style="display:none;" id="ssq_chartList" >
			</div>
			<p style="display: none;" class="arrowmore center" data-t="showChartList"><span class="more"><em class="arrow trans"></em></span></p>
		</div>
		<div class="ballcon">
			<div class="listcon">
				<div class="tit gray selTitleObj">
					<p><span class="fontred font14"><b>·</b> 红球</span> 选择6-33个号码</p>
					<div class="tit_rt">
						<div class="jixuan">
							<span data-t="random" data-k="0"><em class="icon phone"></em>机选</span><span data-t="redjx" data-k="0" data-v=6><em class="jsJxNum">6</em>个<em class="arrow"></em></span>
						</div>
					</div>
				</div>
				<div class="redpart clearfix selectObj" data-v="0">
					<span data-t="selectnum" data-v="01" data-k="0" class="ball">01</span>
					<span data-t="selectnum" data-v="02" data-k="1" class="ball">02</span>
					<span data-t="selectnum" data-v="03" data-k="2" class="ball">03</span>
					<span data-t="selectnum" data-v="04" data-k="3" class="ball">04</span>
					<span data-t="selectnum" data-v="05" data-k="4" class="ball">05</span>
					<span data-t="selectnum" data-v="06" data-k="5" class="ball">06</span>
					<span data-t="selectnum" data-v="07" data-k="6" class="ball">07</span>
					<span data-t="selectnum" data-v="08" data-k="7" class="ball">08</span>
					<span data-t="selectnum" data-v="09" data-k="8" class="ball">09</span>
					<span data-t="selectnum" data-v="10" data-k="9" class="ball">10</span>
					<span data-t="selectnum" data-v="11" data-k="10" class="ball">11</span>
					<span data-t="selectnum" data-v="12" data-k="11" class="ball">12</span>
					<span data-t="selectnum" data-v="13" data-k="12" class="ball">13</span>
					<span data-t="selectnum" data-v="14" data-k="13" class="ball">14</span>
					<span data-t="selectnum" data-v="15" data-k="14" class="ball">15</span>
					<span data-t="selectnum" data-v="16" data-k="15" class="ball">16</span>
					<span data-t="selectnum" data-v="17" data-k="16" class="ball">17</span>
					<span data-t="selectnum" data-v="18" data-k="17" class="ball">18</span>
					<span data-t="selectnum" data-v="19" data-k="18" class="ball">19</span>
					<span data-t="selectnum" data-v="20" data-k="19" class="ball">20</span>
					<span data-t="selectnum" data-v="21" data-k="20" class="ball">21</span>
					<span data-t="selectnum" data-v="22" data-k="21" class="ball">22</span>
					<span data-t="selectnum" data-v="23" data-k="22" class="ball">23</span>
					<span data-t="selectnum" data-v="24" data-k="23" class="ball">24</span>
					<span data-t="selectnum" data-v="25" data-k="24" class="ball">25</span>
					<span data-t="selectnum" data-v="26" data-k="25" class="ball">26</span>
					<span data-t="selectnum" data-v="27" data-k="26" class="ball">27</span>
					<span data-t="selectnum" data-v="28" data-k="27" class="ball">28</span>
					<span data-t="selectnum" data-v="29" data-k="28" class="ball">29</span>
					<span data-t="selectnum" data-v="30" data-k="29" class="ball">30</span>
					<span data-t="selectnum" data-v="31" data-k="30" class="ball">31</span>
					<span data-t="selectnum" data-v="32" data-k="31" class="ball">32</span>
					<span data-t="selectnum" data-v="33" data-k="32" class="ball">33</span>
				</div>
			</div>
			<div class="listcon">
				<div class="tit gray selTitleObj">
					<p><span class="fontblue font14"><b>·</b> 蓝球</span> 选择1-16个号码</p>
					<div class="tit_rt">
						<div class="jixuan">
							<span data-t="random" data-k="1"><em>机选</em></span><span data-t="bluejx" data-k="1" data-v=1 ><em class="jsJxNum">1</em>个<em class="arrow"></em></span>
						</div>
					</div>
				</div>
				<div class="bluepart clearfix selectObj" data-v="1">
					<span data-t="selectnum" data-v="01" data-k="0" class="ball">01</span>
					<span data-t="selectnum" data-v="02" data-k="1" class="ball">02</span>
					<span data-t="selectnum" data-v="03" data-k="2" class="ball">03</span>
					<span data-t="selectnum" data-v="04" data-k="3" class="ball">04</span>
					<span data-t="selectnum" data-v="05" data-k="4" class="ball">05</span>
					<span data-t="selectnum" data-v="06" data-k="5" class="ball">06</span>
					<span data-t="selectnum" data-v="07" data-k="6" class="ball">07</span>
					<span data-t="selectnum" data-v="08" data-k="7" class="ball">08</span>
					<span data-t="selectnum" data-v="09" data-k="8" class="ball">09</span>
					<span data-t="selectnum" data-v="10" data-k="9" class="ball">10</span>
					<span data-t="selectnum" data-v="11" data-k="10" class="ball">11</span>
					<span data-t="selectnum" data-v="12" data-k="11" class="ball">12</span>
                    <span data-t="selectnum" data-v="13" data-k="12" class="ball">13</span>
                    <span data-t="selectnum" data-v="14" data-k="13" class="ball">14</span>
                    <span data-t="selectnum" data-v="15" data-k="14" class="ball">15</span>
                    <span data-t="selectnum" data-v="16" data-k="15" class="ball">16</span>
				</div>
			</div>
		</div>
		<div style="height:48px;"></div>
	</section>
	<section   class="bottomcon" style="display:;">
		<div class="bet clearfix remov">
			<p class="fl bet_lf" data-t="clear"><a href="javascript:void(0);" class="btn_del"><em class="delicon icon"></em></a></p>
			<p class="fl bet_mid"><span class="fontred" id="ssq_zhushuObj">0</span>注 <span class="fontred" id="ssq_moneyObj">0</span>元</p>
			<p class="fr bet_rt" data-t="submitBet"><a href="javascript:void(0);" class="btn_buy">提 交</a></p>
		</div>
	</section>
	<div class="bottomcon ">
		<div class="keyboard key5" style="display:none;" id="ssq_jxLayer"><ul></ul></div>
	</div>
	<div class="overlayer" style="display:none;" id="ssq_ddTipsObj">
		<div class="bottomcon">
			<div class="playtip">
				<h3>胆拖玩法</h3>
				<p class="font14">同一号码<span class="fontred">点1次为拖码，2次为胆码，点3次还原</span>，胆码超出后点击自动为拖码。</p>
			</div>
			<p class="btn_simple"><a href="javascript:void(0)" class="w100"><span>关闭</span></a></p>
			
		</div>
	</div>
</div>
</body>

</html>