*{-webkit-user-select:none;user-select:none;}
input,textarea{-webkit-user-select:text!important;user-select:text!important;}
input{/*-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only;*/}
.banner{position: relative; width: 100%;height:auto;overflow: hidden;}
.regnewBonus_bg{overflow: visible;}
.nav_icon{background-image:none;background-size:30px 30px!important;width:30px;height:30px}
.nav_icon.nav01{background:url(../images/botNav01.png) left top no-repeat}
.nav_icon.nav02{background:url(../images/botNav02.png) left top no-repeat}
.nav_icon.nav03{background:url(../images/botNav03.png) left top no-repeat}
.nav_icon.nav04{background:url(../images/botNav04.png) left top no-repeat}
.nav_ul a.selected{background-color:#ebebeb}
.bet_info .circle{margin-top:0!important;}
.order_wrap .noact{padding-top:50px;}
#qupiaoSet .site_info{top:30px;}
.active_hb .banner{height:360px}
.active_hb{height:800px}
.header .head_lf{width:50px}
.jxcon{padding-top:10px}
.login_btn .zdicon{background-position:0px -506px;}
.kjlist .arrow{ display: inline-block; width: 12px; height: 7px; background: url(../images/arrow.png) no-repeat 0 0;background-size: 12px 7px; }
.kjlist .arrowup{ display: inline-block; width: 12px; height: 7px; background: url(../images/arrowup.png) no-repeat 0 0;background-size: 12px 7px; }
.range_wrap{height:42px}
.rangeHack{width:100%;height:2px;background:#30a1f7;position:absolute;top:35px;display:block;z-index:1}
#userCenter_wrapB  li{position:relative}
#userCenter_wrapB  span.circle{text-align: center;}

/*#userCenter_wrapB  i{position:absolute;top:0;left:47%;}*/
.switch.set .off{left:26px}
.lot_icon.tjsyy01{background-position: 0 -180px;} /*11选5*/

.centerWrap{padding-top:44px;}
.centerWrap_1{padding-top:78px}
.centerWrap_2{padding-top:44px!important}
#qupiaoSet .centerWrap {padding-top:64px;}
#cashier .centerWrap{padding-top:124px;}
#ticketCashier .centerWrap{padding-top:124px;}
.header{position:fixed;width:100%;top:0;z-index:101;left:0;} /*此3条为固定头尾预留，例子见home.html*/
.nomatch{text-align:center;padding-top:10px;color:#999}
.prise_dot{z-index:999}
.p_item .num{width:100%}
.miane span{margin-top:5px;}
.order_wrap{/*min-height:100px*/}

/* 开奖页面 */
/*.comtab{position:fixed;top:44px;left:0;z-index:99;background:#f2f3f7}*/
/*#numKaijiang_kjListObj{min-height:500px}*/
/*#numKaijiang_droploadWrap{min-height:500px}*/
#numKaijiang_scrollObj{height:42px}

#betRecord .centerWrap,#planRecord .centerWrap,#getTicketRecord .centerWrap,#cashRecord .centerWrap,#bonusRecord .centerWrap,#scoreRecord .centerWrap{padding-top:90px}
#prizeTool_lotteryObj .comtab{background:#fff;position:static}

/*方案详情模拟部分滚动 */
#projectDetail_wrapA{position:fixed;top:44px;z-index:90}
#projectDetail_wrapD{position:fixed;top:168px;z-index:90;height:47px}
#projectDetail_wrapB{position:absolute;top:220px;width:100%;overflow:hidden;z-index:10;padding-bottom:70px}
#projectDetail_wrapB .betlist .listwrap{top:0;z-index:90;}
.listbg_1{width: 94%;background:#dadfe1; height: 9px; border-radius: 5px; box-shadow:0 -1px 1px #fbfbfc;position:fixed;top:215px;margin-left:3%;z-index:90;}
.listbg_2{position:fixed;top:219px;width:92%;margin-left:4%;background:#fff;height:5px;z-index:100;border-top:2px solid #b3b9bd}
.listbg_0{width:94%;padding:0 3%;height:8px;position:fixed;top:161px;z-index:90;background:#f2f3f7}
.fixTopTit_1{position:fixed;top:44px;z-index:90;border-bottom:1px solid #ebebeb;}
.mt75{margin-top:75px}
.mt115{margin-top:115px}
.mt119{margin-top:78px;;border-top:none}
.fixTopTit_2{position:fixed;top:44px;z-index:90;border-bottom:1px solid #ebebeb;width:94%}
.mt85{margin-top:85px}
#confirm_betSectionObj .jxcon{position:fixed;top:45px;margin:0;width:94%;z-index:90;background:#f2f3f7;height:60px}
#confirm_betSectionObj .listbg_1{top:105px}
#confirm_betSectionObj .listbg_2{top:109px}
#confirm_betSectionObj .listwrap{top:62px;margin-bottom:20px}
.fixTopTit_4{position:fixed;top:44px;z-index:90;width:100%;background:#f2f3f7;border-bottom:1px solid #dadfe1}
.history{z-index:10;}
.mt78{margin-top:78px}
#lotteryRules_wrapperObj .playrules{position:relative;top:50px}
.endtip_1{height:20px;line-height:20px;padding-bottom:10px;padding-top:10px;color:#999}
.loading_1{text-align:center;height:40px;line-height:40px;font-size:14px;background:transparent url(../images/wait_loading.gif) center center no-repeat;background-size:40px 40px;margin-top:50%}
.loading_3{text-align:center;height:40px;line-height:40px;font-size:14px;background:transparent url(../images/wait_loading.gif) center center no-repeat;background-size:40px 40px;margin-top:30%}
.loading_7{text-align:center;height:40px;line-height:40px;font-size:14px;background:transparent url(../images/wait_loading.gif) center center no-repeat;background-size:40px 40px;margin-top:10%}
.loading_4, .loading_4 div {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100vw;
    height: -moz-calc(100vh - 44px);
    height: -webkit-calc(100vh - 44px);
    height: calc(100vh - 44px);
    text-align: center;
    font-size: 14px;
    background: #fbfbfc;
    z-index: 9999;
}

.loading_4 div {
    background: transparent url(../images/wait_loading.gif) center center no-repeat;
    background-size: 40px 40px;
}

.nomatch_1{text-align:center;height:30px;line-height:30px;background:transparent url(../images/nomatch.png) center center no-repeat;background-size:30px 30px;display:block;}
.lot_name .money{padding:0 2px}
.lot_icon.jz2x101 {background: url(../images/new/jz2.png) no-repeat 0 0;background-size: 100%;}
.lot_icon.bskfh01{background-position: 0 -225px;} /*竞彩篮球*/
.lot_icon.jclq01{background-position: 0 -225px;} /*竞彩篮球*/
.trd-img{margin-top:6px}
.pt35{padding-top:35px}
.hbbot .act-btn{width:29%}
.coup-plat h2:before{background:#63bbff}
.coup-plat h2{color:#63bbff}
.coup-plat .dot{color:#63bbff}
#activityIdx_list .pboxwrap{margin:0;margin-bottom:8px}
#redBag{background:#fff;height:750px}
.actDisable_1{background:#e6e6e6}
.actDisable_1 .pwdbox{background:#e6e6e6;box-shadow:2px 2px 5px #e6e6e6,-2px 2px 5px #e6e6e6}
.actDisable_1 .coup-style{background:#e6e6e6;box-shadow:0px 1px 2px #e6e6e6}
.actDisable_1 .coup-style:after{border-top: 5px solid #ececec}
#stationDetail .page_total{padding:0px 4px;background:#333}
.sitelist .sbox .bindicon{display: inline-block;width: 22px;height: 22px;vertical-align: middle;position:absolute;top:24px;right:7px;}
.socialshare{position: fixed;bottom: 0; width: 100%;z-index: 1001;background: #fff;border-top: 1px solid #ececec;}
#redBag .hbbot a{width:33%}
#redBag .hbbot .first{width:33%}
#redBag .disable_rb  h2:before{background-color:#999}
#redBag .disable_rb h2{color:#999}
#redBag .disable_rb .dot{color:#999}
#stationDetail .c-item .cps-txt{padding-top:10px;}
#stationDetail_location{margin-top:5px;}
#localSite_siteList{min-height:500px}

#stationDetail .info-txt{color:#999}
.header .head_rt{right:20px}
.nav_bot a {
    display: inline-block;
    width: 33.3333%;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #e04241;
}
.nav1 a {
    width: 100%;
}
.tz_info .vs span{height:25px;overflow:hidden;}
.indent_2{text-indent:2em}
.arrow_2{margin-left: 7px; display:inline-block; width: 0; height: 0; border-bottom:6px solid #999; border-left:6px solid transparent;}
.scanCodeImg{width:150px;height:150px;margin:80px auto;margin-bottom:10px}
.scanCodeImg img{width:150px;height:150px;}
.btn_s1{width: 30%; font-size: 18px; color: #333; background: #fcdd52}
.nav_s1{background:#fff;height:50px;border-top:1px solid #ff2c01}
.nav_s1 a{height:50px;line-height:50px}
.nav_s1 a.spe{border-left:1px solid #ff2c01}
.memberBetIcon{background:url(../images/host/memberbet.png) left top no-repeat;background-size:22px 22px}
.starIcon_1{width:18px;height:18px;background:url(../images/host/staricon_red.png) left top no-repeat;background-size:18px 18px;display:inline-block}
#userCenter .starIcon_1{margin-bottom:-3px;margin-left:8px}
.mr55{margin-right:55px;}
.ml10{margin-left:10px;}
.box_1{width:10%;padding-top:10px;}
.box_2{width:34%;padding:10px 0;}
.box_3{width:56%;font-size:12px;}
.box_3 dd{padding:5px 0;}
.loading_icon1{width:95px;display:inline-block;background:#f2f3f7;height:13px;margin-top:4px;overflow:hidden;}
.loading_icon1 em{display:inline-block;background:#8ae88a;height:13px}
.prize_1{width:35px;height:35px;background:url(../images/host/prize_1.png) left top no-repeat;background-size:35px 35px;display:inline-block;position:absolute;left:-7px;top:-7px;}
.icon_1{width:22px;height:22px;background:url(../images/host/staricon_gray.png) left top no-repeat;display:inline-block;background-size:22px 22px;}
.starRed{background-image:url(../images/host/staricon_red.png);}
.starGray{background-image:url(../images/host/staricon_gray.png);}
.starBlue{background-image:url(../images/host/staricon_blue.png);}
.starGreen{background-image:url(../images/host/staricon_green.png);}
.starPurple{background-image:url(../images/host/staricon_purple.png);}
.radiobox_1{width:13px;height:13px;background:url(../images/host/uncheck.png) left top no-repeat;display:inline-block;background-size:13px 13px;}
.radiobox_1.checked{background-image:url(../images/host/checked.png);}
.bgBox_1{margin:10px auto;margin-bottom:0;word-break:break-all;padding:5px;padding-right:15px;width:230px;height:75px;background:url(../images/host/bg_1.png) left top no-repeat;display:block;background-size:252px 85px;}
.bgBox_1 textarea{width:100%;height:100%;border:none;outline:none;resize:none;}
.box_5{width:240px;margin:0 auto;clear:both;overflow:hidden}
.box_5 dl{width:25%}
.box_5 .radiobox_1{margin-left:16px;}
.box_5 .checkbox_1{margin-left:16px;}
.box_5 .icon_1{margin-left:12px}
#memberBetRecord .playtip{padding:12px 6%}
.checkbox_1{width:13px;height:13px;background:url(../images/host/uncheck2.png) left top no-repeat;display:inline-block;background-size:13px 13px;}
.checkbox_1.checked{background-image:url(../images/host/checked2.png);}
#searchRecord .box_5{padding:10px;}
#searchRecord .box_5 dl{width:20%}
.radiobox_2{width:20px;height:20px;background:url(../images/host/uncheck3.png) left top no-repeat;display:inline-block;background-size:20px 20px;}
.radiobox_2.checked{background-image:url(../images/host/checked3.png);}
#ticketDetail .radiobox_2{position:absolute;right:10px;bottom:10px;}
.suc_1{margin:0 auto;margin-bottom:8px;width:30px;height:30px;background:url(../images/host/suc_1.png) left top no-repeat;display:block;background-size:30px 30px;}
#ticketDetail .icon_1{margin-top:10px;}
.loading_2{width:100%;height:12px;}
.loading_2 p{background:#36c336;height:12px}
.match_detail .selected .fontred{color:#fff}
.match_detail .selected .fontgreen{color:#fff}
.tip_icon.kaij{height:44px;}
#numKaijiang .navlist{z-index:100}


/*抽奖活动*/
.received{background-position: -35px -700px;}
.un-received{background-position: -35px -755px;}
.orderbox .expire{position: absolute; display:block; top: 10px; left: 50%; width: 80px; height: 55px;background:url(../images/activity/expire.png) center center no-repeat;background-size:80px 55px;}
.orderbox .received,.orderbox .un-received{position: absolute; display:block; top: 10px; left: 50%; width: 80px; height: 55px;}
.g-prize{   -o-transform:  transform 6s;
    -ms-transform:  transform 6s;
    -moz-transform:  transform 6s;
    -webkit-transform:  transform 6s;
    /*-webkit-transform:transition3d(0,0,0);*/
    transition: -webkit-transform 6s ease;
    transition: -moz-transform 6s ease;
    transition: -o-transform 6s ease;
    transition: transform 6s ease;
    -o-transform-origin:  50% 50%;
    -ms-transform-origin:  50% 50%;
    -moz-transform-origin:  50% 50%;
    -webkit-transform-origin:  50% 50%;
    transform-origin: 50% 50%;
    position:absolute;
    left:0;
    top:0;
    z-index:80;
}
.g-arrow{z-index:90}
.header .head_lf{z-index:100}
#scorePrize_box{height:54px;overflow:hidden}
.disbg{background-size:135px 815px}
.myprize{z-index:90}
#scorePrizeRecord .disbg{/*background-image: url(../images/discovery.png);background-size: 135px 810px;*/}
#scorePrize{background-color:#fadd51}
#scorePrize .socialshare, #sendPrize .socialshare{position:fixed}

#plan_planDomObj .inputbox span:first-child, #plan_planDomObj .inputbox span:last-child{width:25%}
.plantab .inputbox .input_sec{width:40%}
.g-prize{background-color:transparent;}
.all-lottery{width:98%;padding-left:1%;padding-right:1%;}
#newsDetail .font9, #newsDetail .font9 a {color:#999}
.turntable{background:transparent}
#newsIdx .news-con{min-height:500px}
#home_scrollBox{float: right;width: 75%;height: 22px;overflow: hidden;}
#home .newstop-list li{line-height:22px;height:22px;}
.defBanner{width:100%;height:140px;background:url(../images/defBanner.jpg) center center no-repeat;background-size:320px 140px}
#scorePrize .loading_1{background-color:#f2f3f7}
#newsList .loading_1{background-color:#f2f3f7}
.font9{color:#999}
.luckyDraw_1{width:100%;height:100px;margin:0 auto;background:url(../images/activity/actBg.png) center center no-repeat;background-size:100% 100px;}
#basketMix .vs_info .match_detail .rq{height:38px}
#basketMix  .vs_info .match_detail .pt2{padding-top:2px;}
.wifiStatus{height:15px;text-align:center;font-size:12px!important;color:#dcdcdc}
.wifiIcon{display:inline-block;width:10px;height:7px;background:url(../images/wifi1.png) center center no-repeat;background-size:10px 7px;}
#home .header.header_1{line-height:20px;padding-top:4px;height:40px;}
.hot_1{border:1px solid #f78787;color:#f78787;padding:1px 3px;border-radius:2px;display:inline-block;height:13px;line-height:13px}
#home .act-dl{padding:10px 8%}
#home .nav_ul li a{border-right:none}
#home .act-dl{border-color:#f4f4f4}
#home .lottery_ul li{border-color:#f4f4f4;width: 33.33%;height: 110px;}
#home .news-con dl{border-color:#f4f4f4}
.lottery_ul li a{border-color:#f4f4f4}
.lottery_ul li{border-color:#f4f4f4}
#home .nav-main{border-color:#f4f4f4;border-bottom:none}
.nav li span{font-size:12px}
#home .header .head_rt{right:13px}
.msgicon_1 {
    width:22px;height:22px;background:url(../images/new/msg.png) center center no-repeat;display:inline-block;background-size:20px 18px;position:absolute;right:3px;top:13px
}
.msgicon_2 {
    width:22px;height:22px;background:url(../images/new/msgblue.png) center center no-repeat;display:inline-block;background-size:20px 18px;vertical-align:middle;margin-right:10px
}
.header .im-num {
    position: absolute;
    right: -8px;
    top: 4px;
}
.im-num {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background: #f56c0b;
    border-radius: 50%;
    overflow: hidden;
    font-size: 12px;
}
#userCenter .im-num{position: absolute;
    top: 35%;
    right: 25px;}

/*即开票    */
.jkp-list{padding: 10px 3%; background: #fff; border-bottom: 1px solid #ebebeb;}
.jkp-con{padding:0 3%; background: #fff;border-bottom: 1px solid #ebebeb;}
.jkp-detail{padding: 15px 0; border-bottom: 1px dashed #ebebeb;}
.jkp-detail .jpic{display: inline-block;margin-top: 5px; margin-right:3%; width: 75px; height: 75px; border: 1px solid #ebebeb;}
.jkp-detail .jpic img{width: 100%;}
.jkp-detail .jinfo{position: relative; width:70%;width: -webkit-calc(97% - 77px); width: calc(97% - 77px);}
.jkp-con .jkp-detail:last-child{border-bottom: none;}
.jkp-detail .oprice{text-decoration: line-through;}
.jkp-detail .jipt{position: absolute; bottom: 0; right: 0;}
.jipt{display: inline-block;vertical-align: middle;}
.jipt > span,.jipt > input{float: left;}
.jipt > span{display: inline-block; height: 30px; width: 35px; line-height: 28px; text-align: center; background: #f5f5f5; color: #ccc; font-size:20px;}
.jipt > span.add{ background: #30a1f7; color: #fff;}
.jipt > input{padding:4px 5px; height: 20px; width: 40px; line-height: 20px; border-bottom:1px solid #f5f5f5; border-top:1px solid #f5f5f5;text-align: center;}

.carticon{ display: inline-block; width: 22px; height: 22px;background:url(../images/new/cart.png) center center  no-repeat;background-size: 25px 20px;}
.jkpcart{position: relative; width: 15%;}
.jkpcart .carticon{position: relative; }
.jkpcart .cartnum{position: absolute; right: -10px; top: -8px; display: inline-block; width: 17px; height: 17px; border-radius:50%; background:#ef633f; line-height: 17px; text-align: center; color: #fff; font-size: 12px;}
.j-rad{margin-right: 15px;}
.j-rad .block{position: relative;top: 1px; display: inline-block;margin-right: 5px; width: 10px; height: 10px; border-radius:2px; border: 1px solid #ccc;}
.j-rad.on{color: #30a1f7;}
.j-rad.on .block{border-color:#30a1f7; background: #30a1f7;}
.jkicon{background:url(../images/new/loudou.png) left center no-repeat;background-size:16px 21px;padding-left:35px}

.shopping-tit{padding: 10px 3%; border-bottom: 1px solid #ebebeb;}
.shopping-list{max-height: 255px;overflow-y: scroll; overflow-x: hidden;}
.shopping-list .item{padding: 10px 3%; border-bottom: 1px solid #f5f5f5;}
.shopping-list .item > span{display: inline-block; width: 30%; line-height: 30px; text-align: center;}
.orderbox .jpic{display: inline-block;margin-top: 2px; margin-right:10px;  width: 44px; height: 44px; border: 1px solid #ebebeb;}
.orderbox .jpic img{width: 100%;}
.jkp-order{width:77%;width: calc(100% - 56px);}
/*即开票   end */
.lot_icon.tj11x501 {
    background-position: 0 -180px;
}
#home_imWrap{width:60px}
/*feedback*/
.fb-item{padding: 10px 3%;border-bottom: 1px solid #ebebeb;background: #fff;word-break:break-all;}
.fb-reply{position: relative; padding: 10px 3%; background: #f0f0f0;}
.fb-reply:before{content: ''; display: inline-block;position: absolute; top: -10px; right: 3%; border-bottom: 10px solid #f0f0f0; border-left: 8px solid transparent;border-right: 8px solid transparent;}


.navlist{position:fixed}
.feedback_con textarea{outline:none}
.feedback_con .blueBorder{border:1px solid #da3716}
.header .head_rt{z-index:999}
.topSpeLink{width:25px;height:100%;display:inline-block}

.news-ad{position: relative; margin: 0 5% 10px; border: none; border-top: 1px dashed #cacaca;}
.news-ad > legend{text-align: center; color: #999; padding:0 8px; margin-bottom: 8px; font-size: 12px;}
.news-ad img{width: 100%;}
.news-ad .ad-tag{position: absolute; bottom: 5px; right: 5px; background: rgba(0,0,0,.5); color: #fff; padding: 0 6px; font-size: 12px;}

#home .header .head_lf{line-height:44px;vertical-align:middle}
.jx_tab{width:30%;margin-right:3%}

/*管理站点*/
.act_area{width: 94%; height: 100px; padding: 10px 3%; border: none; border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb; line-height: 1.5;}
.manageImg{padding-left: 3%;}
.manageImg .m-img{position: relative; width: 46%; height: 70px; float: left; margin-right: 4%;margin-bottom: 10px;}
.manageImg .m-img img{ width: 100%; height: 100%; border: 1px solid #ebebeb;}
.manageImg .img-add{display: block; height: 100%; width: 100%;border: 1px solid #ebebeb; text-align: center; line-height: 70px; background: #fff;}
.manageImg .img-del{position: absolute;bottom: 0;left: 1px; width: 100%; height: 20px; line-height: 20px; background: rgba(0,0,0,.5); color: #fff; text-align: center;}
.manageImg .del-sm{margin-right: 5px;}

.tit_fast_1{width:100%;color:#fff;text-indent:20px;padding:5px 0;clear:both;border-top:none;border-bottom:1px solid #fff;}
.tit_fast_1.spe{border-top:1px solid #fff;}
#soccerR9 .match_detail .opt_jz span.leftBorder{border-left:1px solid #ebebeb}
.manageImg .img-add{position:relative;}
#modifyStationInfo .js_file_spe{opacity:0.01;width:100%;height:100%;display:block;z-index:2}
#modifyStationInfo .addImg_1{position:absolute;left:40%;top:0;z-index:1}
#modifyStationInfo .m-img img{height:70px;}

.ui-confirm-title, .ui-alert-title{padding-top:0}
.ui-dialog-bottom .ui-dialog-action .ui-confirm-close, .ui-dialog-action .ui-confirm-no{font-size:14px}
.ui-dialog-action button, .ui-dialog-action a{font-size:14px}

.grayDesc_1{color:#999;text-align:center;font-size:12px}
.settab li em.js_clear_1{float:right;border-left:none;margin-right:10px;margin-top:5px;color:#30a1f7;display:inline-block;background:url(../images/new/clearAll.png) center center no-repeat;width:17px;height:20px;background-size:17px 20px;}
.js_input_2{height: 30px;width: 72%;position: absolute;right: 0;z-index: 10;background: transparent;}
.js_mange_1{display:none;background:#fff;text-align:right;padding-right:20px;margin-top:-15px;}
#stationDetail .manageicon{margin-right:10px;display: inline-block;width: 20px;height: 20px;vertical-align: middle;background:url(../images/new/manage.png) center center no-repeat;background-size:20px 20px;}
#stationDetail .ordericon{margin-right:10px;display: inline-block;width: 24px;height: 21px;vertical-align: middle;background:url(../images/new/order.png) center center no-repeat;background-size:24px 21px;}
.ui-dialog-action button, .ui-dialog-action a{color:#30a1f7}
.bet_jz .num_dot.spe_1{background:transparent;border:1px solid #ef633f;color:#ef633f;font-size:10px;top:2px;width:15px;height:15px}
.lot_icon.ssq01{background: url(../images/new/sq.png) center center no-repeat;background-size: 45px 45px;}
.lot_icon.gxk301{background:url(../images/new/k3.png) center center no-repeat;background-size:45px 45px;}
.lot_icon.jxk301{background:url(../images/new/jxk3.png) center center no-repeat;background-size:45px 45px;}
.lot_icon.jlk301{background:url(../images/new/jlk3.png) center center no-repeat;background-size:45px 45px;}
/* .lot_icon.d301{background:url(../images/new/d3.png) center center no-repeat;background-size:45px 45px;} */
.redpart,.bluepart{padding-left: 10px; margin: 0 auto; width: 300px;}
.listnum.k3chart .result span:first-child{width:80px}
.listnum.k3chart .result span{display:inline-block;width:40px;margin-right:0}
.trend_num span em.topNum_1{
    position: absolute;
    top: -5px;
    right: -2px;
    border: 1px solid #fff;
    display: inline-block;
    width: 12px;
    background: #fff;
    height: 12px;
    color: #e8633f;
    font-size: 8px;
    line-height: 12px;
    border-radius: 8px;}
#pl3Trend .trend_num span{position:relative;}


#regRealName .paper-img img{height:53px}
#findPwd .srh_con{padding-top:0;}
#register_code{padding-left:20px}
#ebankList_bankListObj{border-bottom:1px solid #ebebeb}
#withDraw_helpObj{padding-top:30px;}
.qqicon_1{margin:0 3px -8px 3px;width:25px;height:25px;display:inline-block;background:url(../images/new/qq.png) center center no-repeat;background-size:25px 25px;}
.weixinicon_1{margin-bottom:-8px;width:25px;height:25px;display:inline-block;background:url(../images/new/weixin.png) center center no-repeat;background-size:25px 25px;}

.centerWrap .circle {margin-top: 100px}

.tit .down{ display:block; position: absolute;top: 21px; right:45px; width: 0; height: 0; border-bottom: 10px solid #fff; border-left: 10px solid transparent;}

.iv-table thead tr{background: #ffedd8;}
.iv-tablebody tr:nth-child(even){background: #ffedd8;}

.logo-aish{margin: 40px auto 40px;}

.trd-item {padding: 5% 3%}
.trd-link a {margin-right: 10%}
.trd-link a:nth-last-of-type(1) {margin-right: 0}

.buyConfirm_initShadow {background: #fff; text-align: center; line-height: 48px}

section#ticketDetail_record {padding-bottom: 50px}

.miane span {margin-right: 4%}
.miane span:nth-of-type(5) {margin-right: 0}

.discover_update {display: inline-block; position: relative; top: -10px; width: 6px; height: 6px; background: #ef633f; border-radius: 6px; margin: 0 2px}

.k3trend .header {position: relative; width: 100%; height:44px; line-height: 44px; background: #ff2c01; text-align: center; color: #fff;}
.k3trend .tzhu_style {position: static; width: 100%; background: #ff6546; border-top: 1px solid #fff;}
.k3trend .comtab {position: static;}

.k3trend .tn2, .k3trend .tn3, .k3trend .tn4, .k3trend .tn5, .k3trend .tn6, .k3trend .tn7 {  background-color: white;  }
.k3trend .tzhu_style:before {  top: 44px;  }
.set_btn{
	position: absolute;
	top: 15px;
	right: 4%;
	z-index: 999;
}
.set_icon{
	display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-position: 0 -154px;
}
/*#numKaijiang_kjTitleObj{float: left}*/



/*合买*/
.op_hm_num{
	width: 100px;
	position: absolute;
	top: -35px;
	right: 0;
	z-index: 98;
}
.content1{float: left;width: 20%;}
.content2{float: left;width: 30%;}
.content3{float: left;width: 22%;height: 80px;}
.content4{float: left;width: 12%;height: 80px;}
.content5{float: left;width: 50%;}
.content6{float: left;width: 33.3%;}
.content7{float: left;width: 25%;}
.content8{float: left;width: 40%;}
.header .hm_lf{width: 80px;}
.header .hm_rt{right: 13px;}
/*.hm_section{background-color: #f4f4f4;}*/
.hm_header{width:100%;height: 30px;border-bottom: 5px solid #eee;border-top: 6px solid #eee;background-color: #fff;position: fixed;top: 44px;left: 0;z-index: 99;}
.hm_header_list{height:30px;line-height:30px;width: 20%;float: left;text-align: center;}
/*.hm_header_list span{color: #999;font-size: 12px;}*/
.hm_h_btn{color: #999;font-size: 12px;display:inline-block;padding-right: 12px;background: url(../images/images/order_no.png) no-repeat;background-size: 12px 12px;background-position: right 9px;}
.hmup{color: #ff8400;background: url(../images/images/order_u.png) no-repeat;background-size: 12px 12px;background-position: right 9px;}
.hmdown{color: #ff8400;background: url(../images/images/order_d.png) no-repeat;background-size: 12px 12px;background-position: right 9px;}
.hm_jz{background: none;padding-right: 0;}

.hemaiIndex_option{
	width: 100%;
	height: 40px;
	background-color: #f2f3f7;
}
.option_white{
	background-color: #fff;
}
.hemaiIndex_option>p{
	color: #999;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	line-height: 40px;
	height: 40px;
}
.hm_content{
	margin-top: 40px;
	padding-bottom: 60px;
	background-color: #f2f3f7;
}
.hm_list{background-color: #fff;margin-bottom: 5px;}
.hm_list_t{height: 30px;border-bottom: 1px solid #f4f4f4;}
.hm_list_t p{
	font-size: 12px; 
	text-align: center;
	line-height: 30px;
}
.text_show{
	width:100%;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    }
.hm_nickname{
	padding-left: 15px;
	background: url(../images/0905/my_t.png) no-repeat;
	background-size: 12px 15px;
	background-position-y: 7px;
}
.hm_atn{
	text-align: center;

}
.atn_btn{
	display: inline-block;
	text-align: center;
	background-color: #f8b551;
	color: #fff;
	font-size: 12px;
	width: 80%;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	border-radius: 3px;
}
.noatn_btn{
	background-color: #ccc;
}
.hm_list_b{
	height: 80px;
}
.hm_scale{
	margin: auto;
	margin-top: 10px;
}
.hmPace{
	position: relative;
}
.hm_pace{
	height: 60px;
	width: 60px;
	text-align: center;
	font-size: 12px;
	margin: 0;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	top: 10px;
}
.hm_pace p{
	color: #e04241;
	padding-top: 10px;
}
.hm_pace span{
	color: #f8ba61;
}
.hm_info{
	text-align: center;
}
.hm_info p{
	font-size: 12px;
	color: #666;
	line-height: 20px;
	padding-top: 15px;
}
.hm_info span{
	font-size: 12px;
	color: #333;
	line-height: 30px;
}
.hmIndex_arr{
	height: 80px;
	background: url(../images/images/hm_arr.png) no-repeat;
	background-size: 10px 18px;
	background-position: 20px 31px;
}
.hm_select{
	position: relative;
	width: 26%;
}
.hm_sct_con{
	position: absolute;
	bottom: -310px;
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 1000;
	border: 1px solid #fe3104;
	border-radius: 4px;
}
.hm_sct_con li{
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #666;
	font-size: 12px;
	border-bottom: 1px solid #f4f4f4;
}
.hm_sct_con li:last-child{
	border-bottom: none;
}
.hm_sct_con li.selected{
	background: #fe3104;
	color: #fff;
}
.hm_select>p{
	color: #fe3104;
	font-size: 13px;
	background: url(../images/images/hm_s.png) no-repeat;
	background-size: 12px 12px;
	background-position: right center;
	padding-right: 12px;
}
.prise_hemai{
	width: 100px;
	position: absolute;
	right: 0;
	top: -35px;
}
.hemai_top{
	background-color: #fff;
	margin: 10px 0;
	height: 36px;
	padding: 0 3%;
}
.hm_t_l,.hm_t_r{
	float: left;
	width: 50%;
	display: inline-block;
	line-height: 36px;
}
.hm_t_l{
	color: #fe2e00;
}
.hm_t_r{
	color: #666;
	font-size: 12px;
}
.hemai_content{
	background-color: #fff;
	padding: 0 3%;
	margin-bottom: 10px;
}
.hm_c_l{
	width: 100%;
	float: left;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 5px;
}
.hm_total{
	width: 50%;
}
.plan_btn{
	font-size: 12px;
	line-height: 30px;
	padding: 2px 5px;
	border-radius: 5px;
	border: 1px solid #999;
	color: #999;
	margin-right: 10px;
}
.plan_btn.selected{
	background: #E04241;
	color: #fff;
	border: 1px solid #e04241;
}
.hm_input{
	width: 60px;
	border-bottom: 1px solid #626262;
	line-height: 20px;
	height: 20px;
	text-align: center;
}
.hm_per{
	display: inline-block;
	margin-left: 10px;
	color: #fe3104;
	font-size: 12px;
	line-height: 30px;
}
input{  
   background:none;  
   outline:none;  
   border:0px;  
}  
strong,b{
font-weight:normal
}
.hm_option{
	font-size: 12px;
	color: #999;
	margin-left: 5px;
}
.hemai_input{
	width: 94%;
	height: 100px;
	padding: 10px 3%;
	line-height: 20px;
	background-color: #ffeeee;
	color: #666;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	display: inline-block;
}
.hemai_btn{
	text-align: center;
	margin-top: 20px;
	width: 100%;
}
.hemai_btn>p{
	display: inline-block;
	width: 70%;
	background-color: #e04241;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	border-radius: 5px;
}
.hemai_btn>p:active{
	
}
.hemai_options{
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #999;
	margin-top: 10px;
}
/*---------------热门大咖------------------*/
.centerContent{
	
	margin-top: 10px;
}
.hotBig_list{
	border-bottom: 1px solid #eee;
	height: 50px;
	position: relative;
	background-color: #fff;
	padding: 0 3%;
}
.hotBig_list:last-child{
	border-bottom: none;
}
.hotBig_name{
	width: 30%;
	float: left;
}
.hotBig_per{
	width: 46%;
	float: left;
}
.hotBig_atn{
	width: 24%;
	float: left;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}
.hotBig_atn>span{
	margin-top: 13px;
}
.foo_atn{
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}
.point_star{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.unfollow{
	background-color: #ccc;
}
.hotBig_nickname{
	padding-left: 16px;
	background: url(../images/0905/my_t.png) no-repeat;
	background-size: 12px 15px;
	background-position-y: 18px;
}
.hotBig_list p{
	line-height: 50px;
	text-align: left;
	font-size: 12px;
}
.hotBig_nickname>p{
	text-align: left;
	font-size: 14px;
}
.myAtn_fans{
	width: 30%;
	float: left;
}
.myAtn_atn{
	width: 30%;
	float: left;
}
/*我的合买*/
.myInfo{
	margin: 10px 0 0;
	background: #fff;
	height: 40px;
	padding: 5px 3%;
}
.myInfo_name{
	width: 35%;
	float: left;
	padding-left: 16px;
	background: url(../images/0905/my_t.png) no-repeat;
	background-size: 12px 15px;
	background-position-y: 12px;
	line-height: 40px;
	height: 40px;
}
.myInfo_follow,.myInfo_fans{
	width: 25%;
	float: right;
	line-height: 40px;
	height: 40px;
	font-size: 12px;
	color: #FE3104;
}
.myRecord{
	padding: 5px 3%;
	background: #fff;
	margin: 10px 0 0;
}
.myRecord:last-child{
	/*margin-bottom: 20px;*/
}
.myRecord_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
.my_pool,.my_win{
	width: 50%;
	height: 60px;
	text-align: center;
	float: left;
}
.my_pool p,.my_win p{
	color: #666;
	margin-top: 15px;
}
.myRecord_title span{
	float: right;
	font-size: 12px;
	color: #999;
}
.myRecord_list{
	padding-top: 5px;
	border-bottom: 2px solid #eee;
}
.myRecord_list:last-child{
	border-bottom: none;
}
.myRecord_list_t{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.myRecord_list_t>.content5>p{
	font-size: 12px;
}
.myRecord_btn>span{
	background-color: #e04241;
	padding: 4px 8px;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
}
.hemai_result{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #999;
	line-height: 50px;
	margin: 13px auto 0;
	font-size: 12px;
}
.result_y{
	border-color: #FE3104;
	color: #FE3104;
}
/*大咖主页*/
.starIndex_name{
	width: 30%;
	font-size: 12px;
}
.starIndex_follow,.starIndex_fans{
	width: 22%;
}
.starIndex_atn{
	width: 20%;
	float: right;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.starAtn_btn{
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	background-color: #f8b551;
	display: inline-block;
	line-height: 22px;
	height: 22px;
	width: 95%;
}
.starIndex_atn .w_btn{    /*未关注*/
	background: #f8b551;
}
.starIndex_atn .y_btn{    /*取消关注*/
	background: #fd671b;
}
/*合买详情*/
.lot_icon.DLT02{background-position: 0 0;}
.lot_icon.SSQ02{background: url(../images/new/sq.png) center center no-repeat;background-size: 45px 45px;}
.lot_icon.FTFH02{background-position: 0 -216px;}
.lot_icon.SPF1402{background: url(../images/new/sf.png) no-repeat 0 0;background-size: 100%;}
.lot_icon.SPF902{background: url(../images/new/rxj.png) no-repeat 0 0;background-size: 100%;}
.lot_icon.PL302{background: url(../images/new/pls.png) no-repeat 0 0;background-size: 100%;}
.lot_icon.PL502{background: url(../images/new/plw.png) no-repeat 0 0;background-size: 100%;}
.lot_icon.D302{background: url(../images/new/fc.png) no-repeat 0 0;background-size: 100%;}

.lot_icon.BSKFH02{background-position: 0 -180px;}
.hmDet_head{
	background: #fff;
	margin-top: 10px;
	padding: 0 3%;
}
.hmDet_head_t{
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.hmLot_icon{
	background-size: 36px;
	width: 36px;
	height: 36px;
	margin-right: 4%;
}
.hmDet_lottery{
	text-align: left;
}
.hmDet_lottery>span{
	margin-top: 7px;
}
.hmDet_lottery>p{
	font-size: 12px;
	color: #fe2e00;
}
.hmDet_number>p{
	font-size: 12px;
	color: #666;
}
.hmDet_date>span{
	font-size: 12px;
	color: #fe2e00;
}
.hmDet_head_b{
	text-align: center;
	font-size: 12px;
	height: 60px;
}
.hmDet_head_list{
	margin-top: 15px;
}
.hmDet_detail{
	padding: 0 3%;
	margin-top: 10px;
	background: #fff;
	position: relative;
}
.hmDet_detail_name{
	width: 20%;
	float: left;
}
.hmDet_detail_name>span,.hmDet_detail_content>span{
	display: inline-block;
	width: 100%;
	text-align: left;
	line-height: 30px;
}
.hmDet_detail_content>span{
	margin-left: 2%;
}
.hmDet_detail_content{
	width: 72%;
	float: left;
}
.hmDet_list{
	position: absolute;
	right: 3%;
	top: 10px;
	display: inline-block;
	height: 24px;
	width: 64px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #999;
	border-radius: 5px;
	color: #999;
}
.hmDet_list:active{
	background-color: #999;
	color: #fff;
}
.hmDet_info{
	margin-top: 10px;
	padding-bottom: 120px;
	/*background: #fff;*/
}
.hmDet_info_t{
	padding: 0 3%;
	height: 30px;
	line-height: 30px;
	background: #fff;
}
.hmDet_info_t>p{
	display: inline-block;
	font-size: 16px;
}
.hmDet_info_show{
	display: inline-block;
	color: #999;
	font-size: 12px;
	margin-left: 10px;
}
.hmDet_info_content{
	padding: 0 3%;
	background: #fff;
}
.hemaiDet{
	z-index: 100;
	position: fixed;
	bottom: -1px;
	left: 0;
	width: 100%;
}
.hmDet_bet{
	background-color: #fff;
	width: 100%;
}
.hmDet_bet_t{
	border-bottom: 1px solid #eee;
	height: 30px;
	width: 94%;
	line-height: 30px;
	font-size: 12px;
	padding: 0 3%;
}
.hmDet_bet_b{
	
	padding: 5px 0;
}
.hmDet_input{
	text-align: center;
}
.hmInput_in{
	display: inline-block;
	width: 48%;
	border: 1px solid #eee;
	border-radius: 5px;
	height: 30px;
	float: left;
	margin: 0 auto;
	margin-left: 2%;
}
.hmInput_in span{
	width: 24%;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.hmInput_in span:nth-child(2){
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	background-color: #f2f3f7;
	width: 50%;
}
.hmInput_money{
	width: 49%;
	text-align: center;
	float: left;
	line-height: 30px;
}
.hmInput_money>p{
	display: inline-block;
	color: #fe2e00;
}
.hmDet_btn{
	height: 40px;
}
.hmDet_btn_list{
	width: 50%;
	float: left;
	height: 40px;
}

.hmDet_btn_list p{
	display: inline-block;
	width: 80%;
	height: 30px;
	line-height: 30px;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	margin:8px 10%;
}

/*跟单列表*/
.hmUser_header{
	background: #fff;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #fe3104;
	border-bottom: 5px solid #eee;
	position: fixed;
	top: 44px;
	left: 0;
}
.hmUser_header>span{
	text-align: center;
	float: left;
	display: inline-block;
}
.hmUser_content{
	background: #fff;
	margin-top: 45px;
}
.hmUser_list{
	border-bottom: 1px solid #eee;
}
.hmUser_list>span{
	text-align: center;
	font-size: 12px;
	color: #333;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	float: left;
}
.hmUser_list>span:first-child{
	box-sizing: border-box;
	border-right: 2px solid #eee;
}
/*合买列表*/
.hemai_list{
	margin-top: 10px;
	padding: 0 3%;
	width: 100%;
	height: 60px;
	font-size: 12px;
	background-color: #fff;
}
.hemai_list_icon{
	width: 16%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.hemai_list_icon>span{
	margin-top: 7px;
}
.hemai_list_type{
	width: 20%;
	text-align: center;
	line-height: 60px;
}
.hemai_list_time{
	width: 30%;
	text-align: center;
}
.hemai_list_time>p{
	line-height: 20px;
	margin-top: 10px;
}
.hemai_list_time>p{
	line-height: 20px;
}
.hemai_list_state{
	width: 18%;
	color: #fe3104;
	text-align: center;
	line-height: 60px;
}
.hemai_list_btn{
	width: 10%;
	height: 60px;
	background: url(../images/images/hm_arr.png) center center no-repeat;
	background-size: 10px 18px;
}

/*红包修改*/
.act_bg{
	background-color: #ff441b;
	padding: 4px;
	width: calc(100% - 8px);
	position: relative;
}
.act_bg.out{
	background-color: #ccc;
}
.act_inbg{
	box-sizing: border-box;
	border: 1px solid #ff9077;
	width: 100%;
	/*height: 40px;*/
}
.act_inbg.out{
	border-color: #fff;
}
.act_money{
	width: 22%;
	height: 80px;
	text-align: center;
	position: relative;
}
.act_money>p{
	font-size: 20px;
	color: #fffcad;
	position: absolute;
	top: 0;
	left: 4px;
}
.act_money>span{
	line-height: 80px;
	font-size: 28px;
	font-style: oblique;
	color: #fff600;
}
.act_content{
	width: 76%;
	padding-left: 2%;
	height: 60px;
	margin-top: 10px;
	box-sizing: border-box;
	border-left: 1px dashed #eee;
}
.act_content>h4{
	color: #fffcad;
	font-size: 16px;
}
.act_content>p{
	color: #fff;
	font-size: 12px;
}
.act_content>span{
	color: #fff;
	font-size: 12px;
}
.act_pt{
	text-align: center;
	background: url(../images/0905/pt.png) no-repeat;
	background-size: 46px 60px;
	height: 60px;
	width: 46px;
	position: absolute;
	top: 14px;
	right: 0;
}
.act_pt>p{
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	margin-top: 10px;
}
.active .act_li .dated,.active .act_li .oning{
	 top: 10px;
	 right: 11px; 
	 width: 80px; 
	 height: 80px;
}
.hemai_rate{
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
