<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
</head>
<body>
<div class="wrapper" id="lotteryList_wrapperObj">
	<header class="header">
		<p class="head_lf" data-t="back"><span class="backicon icon"></span></p>
		<h3 class="head_cn">全部彩种</h3>
	</header>
	<section class="centerWrap" >
		<!--<div class="all-wrap" >-->
          <div>
            <div class="all-lottery">
                <ul class="lottery_ul clearfix" id="lotteryList_list">
                    <li data-t="lottery" data-v="dlt">
                        <a href="javascript:void(0)">
                            <span class="lot_icon dlt01 fl"></span>
                            <div class="lot_name fl">
                                <h3>大乐透</h3>
                                <p>奖池：<span class="money" style="display:none">11.25亿</span></p>
                                <span class="acticon a-jiaj" style="display:none">加奖</span>
                            </div>
                            <span class="acticon a-kaij" style="display:none"><em>今日开奖</em></span>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="pl3">
                        <a href="javascript:void(0)">
                            <span class="lot_icon pl301 fl"></span>
                            <div class="lot_name fl">
                                <h3>排列三</h3>
                                <p>天天开奖</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="pl5">
                        <a href="javascript:void(0)">
                            <span class="lot_icon pl501 fl"></span>
                            <div class="lot_name fl">
                                <h3>排列五</h3>
                                <p>2元赢10万</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="qxc">
                        <a href="javascript:void(0)">
                            <span class="lot_icon qxc01 fl"></span>
                            <div class="lot_name fl">
                                <h3>七星彩</h3>
                                <p>2元赢10万</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="jczq">
                        <a href="javascript:void(0)">
                            <span class="lot_icon jczq01 fl"></span>
                            <div class="lot_name fl">
                                <h3>竞彩足球</h3>
                                <p>中奖更容易</p>
                            </div>
                        </a>
                    </li>
                    
                    <li data-t="lottery" data-v="jz2x1">
                        <a href="javascript:void(0)">
                            <span class="lot_icon jczq01 fl"></span>
                            <div class="lot_name fl">
                                <h3>竞足2选1</h3>
                                <p>中奖更容易</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="spf14">
                        <a href="javascript:void(0)">
                            <span class="lot_icon spf1401 fl"></span>
                            <div class="lot_name fl">
                                <h3>胜负彩</h3>
                                <p>猜胜负赢500万</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="spf9">
                        <a href="javascript:void(0)">
                            <span class="lot_icon spf901 fl"></span>
                            <div class="lot_name fl">
                                <h3>任选九</h3>
                                <p>14场选9赢大奖</p>
                            </div>
                        </a>
                    </li>
                    <li data-t="lottery" data-v="gd11x5">
                        <a href="javascript:void(0)">
                            <span class="lot_icon tjsyy01 fl"></span>
                            <div class="lot_name fl">
                                <h3>11选5</h3>
                                <p>10分钟1期</p>
                            </div>
                        </a>
                    </li>
                   
                </ul>
                <p class="all-more gray font14">更多彩种&nbsp;&nbsp;&nbsp;&nbsp;<br/>敬请期待</p>
            </div>
        </div>
	</section>
	
</div>
</body>

</html>